<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no">
	<meta charset="UTF-8">
	<meta name="description" content="Violate Responsive Admin Template">
	<meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">
	<title>{:lang('套餐配置')}</title>
	<!-- CSS -->
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/bootstrap.min.css">
	<link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/style.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/intial.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/mobileSelect.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/sweetalert2.min.css">
	<link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/foods-add.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/css/summernote.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/css/icon.css"><!-- 图标库css-->
    <link rel="stylesheet" href="STATIC_PATH/assets/css/icon.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/mobiscroll_style.css" rel="stylesheet"/>
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/mobiscroll.css" rel="stylesheet" />
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/mobiscroll_date.css" rel="stylesheet" />
	<script type="text/javascript" src="STATIC_PATH/assets/mobile/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/camera.js/hammer.min.js"></script>
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/camera.js/lrz.all.bundle.js"></script>
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/camera.js/iscroll-zoom-min.js"></script>
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/camera.js/PhotoClip.js"></script>
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/mobileSelect.min.js"></script>
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/sweetalert2.js"></script><!-- alert confirm插件 -->
    <script type="text/javascript" src="STATIC_PATH/assets/js/summernote.min.js"></script><!-- 移动端富文本 -->
    <script type="text/javascript" src="STATIC_PATH/assets/js/lang/summernote-zh-CN.min.js"></script><!-- 移动端富文本 -->
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/mobiscroll_date.js"></script> 
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/mobiscroll.js"></script> 
    <script type="text/javascript" src="STATIC_PATH/assets/js/loading.js"></script>
</head>
<body>
<script>
$(function(){
    $("#order-hear li").click(function(){
        $(this).css({
            "color":"#52B293",
            "border-bottom":"0.3vw solid #52B293",
        }).siblings('li').css({
            "color":"#333333",
            "border-bottom":"none",
        });
        $(this).addClass("action").siblings().removeClass("action");
        var index = $(this).index();
        if(index==1){
            $(".add-setmeal-category").show();
            $(".member-cate-add-btn").hide();
        }else{
            $(".member-cate-add-btn").show();
            $(".add-setmeal-category").hide();
        }
        $("#setmeal-info li").eq(index).css("display","block").siblings().css("display","none");
    });
});
</script>
<div class="container-div">
    <div class="title-div">
        <div class="title" onclick="javascript:location.href='{:url(\'foods/index\')}';">
            <i class="fab-down"></i>{:lang('套餐配置')}
        </div>
        <div class="text-r del-btn">{:lang('刪除')}</div>
    </div>
	<div class="edit-main">
        <ul id="order-hear" class="setmeal-header">
            <li id="allOrder" {if($action==2)}style="color:#818181;border-bottom:none;"{else}style="color:#52B293;border-bottom:0.3vw solid #52B293;" class="action"{/if}>{:lang('添加')}基本資料</li>
            <li id="newsOrder" {if($action!=2)}style="color:#818181;border-bottom:none;"{else}style="color:#52B293;border-bottom:0.3vw solid #52B293;" class="action"{/if}>{:lang('添加')}分類&菜式</li>
        </ul>
        <ul id="setmeal-info">
            <li id="setmeal-base" {if($action==2)}style="display:none;"{/if}>
        		<form  action="{:url('edit')}" method="post" id="edit">
                    <input type="hidden" name="id" value="{$meal.id}">
        			<div class="food-input-li ">
                        <div class="food-cate-label">{:lang('名稱-繁体')}</div><input name="name" type="text" maxlength="100" value="{$meal.name}">
                    </div>
                    <div class="food-input-li ">
                        <div class="food-cate-label">{:lang('名稱-英文')}</div><input name="name_en" type="text" maxlength="100" value="{$meal.name_en}">
                    </div>
                    <div class="food-input-li ">
                        <div class="food-cate-label">{:lang('名稱-其他')}</div><input name="name_other" type="text" maxlength="100" value="{$meal.name_other}">
                    </div>
                	<div class="food-input-li">
                		<div class="food-cate-label">{:lang('分類')}</div><div class="select" id="category" {if empty($category)}onclick="location='{:url('manage/addgoodscategory')}'"{/if}>{$meal.categoryName}</div>
                        <i class="fab-down"></i>
                        <input type="hidden" name="categoryId" id="categoryId" value="{$meal.categoryId}" />
                        <input type="hidden" name="categoryName" id="categoryName" value="{$meal.categoryName}" />
                        <input type="hidden" value="" name="originurl" id="originurl" />
                	</div>
                    <!-- <div class="food-input-li">
                        <div class="food-cate-label">編號</div><input name="number" type="text">
                    </div> -->
                    <div class="food-input-li">
                        <div class="food-cate-label">{:lang('價格')}(HKD$)</div><input name="price" type="text" maxlength="10" value="{$meal.totlePrice}">
                    </div>
                    <div class="food-input-li">
                        <div class="food-cate-label f-l">{:lang('圖片上傳')}<span class="comment">（{:lang('建議解像度')}300*300）</span></div>
                        <div class="food-cate-img f-r" id="upload-img">
                            <img src="{$meal.thumbnailUrl}" class="food-img">
                            <input type="hidden" name="pic_path" id="pic_path" value="{$meal.imgUrl}">
                            <input type="hidden" name="thumb_path" id="thumb_path" value="{$meal.thumbnailUrl}">
                        </div>
                        <!--<div class="upload-img f-r">建議分辨率80*80</div>-->
                    </div>

                    <div class="food-input-li remark-div">
                        <div class="food-cate-label-detail">{:lang('備註')}</div><textarea name="remark" id="remark">{$meal.remark}</textarea>
                    </div>
                    <div class="food-detail">
                        <div class="food-cate-label-detail">{:lang('详情')}</div><input type="hidden" name="detail" id="inputdetail"><div id="detail">{$meal.detail}</div>
                    </div>
                    <div class="food-input-li b-n">
                        <div class="food-cate-label">{:lang('是否啟用')}</div>
                        <div class="food-radio-div">
                            <input name="status" type="radio" value="1" id="label-yes" {if($meal.status===1)} checked="checked" {/if}>
                            <label for="label-yes">{:lang('是')}</label>
                            <input name="status" type="radio" value="0" id="label-no" {if($meal.status==0)}checked="checked" {/if}>
                            <label for="label-no">{:lang('否')}</label>
                        </div>
                    </div>
                </form>
            </li>
            <li id="setmeal-category" {if($action!=2)}style="display: none;"{/if}>
                {volist name="mealCategory" id="vo"}
					<div class="setmeal-li clearfix">
						<div class="setmeal-left" >
							<div class="setmeal-head">
								<div class="setmeal-name">{$vo.name}</div>
							</div>
							<div class="setmeal-foot">
								<div class="setmeal-number">{:lang('單項最大')}:{$vo.goodsMaxNumber}</div>
							</div>
						</div>
                        <div class="edit-food">
                            <div class="setmeal-icon" onclick="window.location.href='{:url('setmeal/food',['mid'=>$meal.id,'cid'=>$vo.id])}'"><img class="icon-add" src="STATIC_PATH/assets/mobile/images/add.png" alt="">{:lang('菜式')}{$vo.foodNumber}{:lang('選')}{$vo.categoryMaxNumber}<!--<img src="STATIC_PATH/assets/mobile/images/bianji.png" />--></div>
						<div class="setmeal-right" onclick="window.location.href='{:url('setmeal/editcategory',['mid'=>$meal.id,'cid'=>$vo.id])}'"><div class="tit"><div class="t">{:lang('編輯')}</div></div></div>
                        </div>
                        </div>
                {/volist}
            </li>
        </ul>
    <div class="member-cate-add-btn" {if($action==2)}style="display:none;position: relative !important;"{else}style="position: relative !important;"{/if}>{:lang('完成')}</div>
<div class="add-setmeal-category add-spec" {if($action!=2)}style="display: none;"{else} {/if} onclick="window.location.href='{:url('setmeal/addcategory',['mid'=>$meal.id])}'">{:lang('添加分類')}</div>
	</div>
	<!--<div class="member-cate-add-btn" {if($action==2)}style="display:none;position: relative !important;"{else}style="position: relative !important;"{/if}>完成</div>
    <div class="add-setmeal-category" {if($action!=2)}style="display: none;position: fixed !important; bottom: 0; margin: 0; width: 100vw; border-radius: 0;"{else} style="position: fixed !important; bottom: 0; margin: 0; width: 100vw; border-radius: 0;"{/if} onclick="window.location.href='{:url('setmeal/addcategory',['mid'=>$meal.id])}'">添加分類</div>-->
</div>
<div class="clipbg clipbg-img displaynone">
    <div id="clipArea1"></div>
    <div class="loading loading-img displaynone">{:lang('正在載入圖片')}...</div>
    <div class="footer">
    <dl>
        <dd>{:lang('添加')}打開相簿<input type="file" id="img" accept="image/*" onClick="window.lee.pickImage()"></dd>
        <dd id="clipBtn-img">{:lang('完成裁剪')}</dd>
    </dl>
    <div class="back back-img">{:lang('取消')}</div>
    </div>
</div>
<style type="text/css">
    .dw-persp{
        z-index: 11000;
    }
</style>
<script type="text/javascript">
    
    var hrt = $(window).height(); //获取当前可视区域的高度存到hrt的变量里。
    window.onload=function(){ //在页面整体加载完毕时
        $('body').height(hrt+'px'); //把获取到的高度直接赋值给body避免虚拟键盘改变页面样式$(function () {
        var currYear = (new Date()).getFullYear();  
        var opt={};
        opt.date = {preset : 'date'};
        opt.datetime = {preset : 'datetime'};
        opt.time = {preset : 'time'};
        opt.default = {
            theme: 'android-ics light', //皮肤样式
            display: 'modal', //显示方式 
            mode: 'scroller', //日期选择模式
            lang: 'zh',
            dateFormat: 'yy-mm-dd',  
            dateOrder: 'yymmdd', //面板中日期排列格式 
            timeFormat: 'HH:ii:ss',  
            // timeOrder: 'HHiiss',
            timeWheels: 'HHiiss',
            // showNow: true,
            // nowText: "现在",
            cancelText: "{:lang('取消')}",
            startYear: currYear - 50, //开始年份
            endYear: currYear, //结束年份
            showLabel: false, // 是否显示 年月日标签
        };
        $("#startdate").mobiscroll($.extend(opt['datetime'], opt['default']));
        $("#enddate").mobiscroll($.extend(opt['datetime'], opt['default']));
        $("#starttime").mobiscroll($.extend(opt['time'], opt['default']));
        $("#endtime").mobiscroll($.extend(opt['time'], opt['default']));
    };
    function closeVaild(method){
        if(method==0){
            $("input[name='validityTime']:checked").prop("checked",false);
            $("#startdate").val('');
            $("#enddate").val('');
            $("#starttime").val('');
            $("#endtime").val('');
            $(".modal-body").hide();
            $("#validityTime-checked-1").hide();
            $("#validityTime-checked-2").hide();
        }else{
            var validityTime = $("input[name='validityTime']:checked").val();
            if(validityTime==3){
                $("#selectVaild").text('無');
            }else if(validityTime==2){
                var start = $("#starttime").val();
                var end = $("#endtime").val();
                if(start!=''&&end!=''){
                    $("#selectVaild").text(start+'-'+end);
                }else if(start==''){
                    swal({
                        'text':'{:lang(\'請選擇開始時間\')}',
                        'confirmButtonText': '{:lang(\'確認\')}',
                        'confirmButtonColor':'#e07a0a',
                        'imageUrl': 'STATIC_PATH/assets/mobile/images/correct-format.png',
                        'imageSize': '16x16',
                        'customClass': 'fail'
                    });
                    return;
                }else{
                    swal({
                        'text':'{:lang(\'請選擇結束時間\')}',
                        'confirmButtonText': '{:lang(\'確認\')}',
                        'confirmButtonColor':'#e07a0a',
                        'imageUrl': 'STATIC_PATH/assets/mobile/images/correct-format.png',
                        'imageSize': '16x16',
                        'customClass': 'fail'
                    });
                    return;
                }
            }else if(validityTime ==1){
                var start = $("#startdate").val();
                var end = $("#enddate").val();
                if(start!=''&&end!=''){
                    $("#selectVaild").text(start+'-'+end);
                }else if(start==''){
                    swal({
                        'text':'{:lang(\'請選擇開始時間\')}',
                        'confirmButtonText': '{:lang(\'確認\')}',
                        'confirmButtonColor':'#e07a0a',
                        'imageUrl': 'STATIC_PATH/assets/mobile/images/correct-format.png',
                        'imageSize': '16x16',
                        'customClass': 'fail'
                    });
                    return;
                }else{
                    swal({
                        'text':'{:lang(\'請選擇結束時間\')}',
                        'confirmButtonText': '{:lang(\'確認\')}',
                        'confirmButtonColor':'#e07a0a',
                        'imageUrl': 'STATIC_PATH/assets/mobile/images/correct-format.png',
                        'imageSize': '16x16',
                        'customClass': 'fail'
                    });
                    return;
                }
            }else{
                swal({
                    'text':'{:lang(\'請選擇有效期類型\')}',
                    'confirmButtonText': '{:lang(\'確認\')}',
                    'confirmButtonColor':'#e07a0a',
                    'imageUrl': 'STATIC_PATH/assets/mobile/images/correct-format.png',
                    'imageSize': '16x16',
                    'customClass': 'fail'
                });
                return;
            }
            $("#validityTime").modal('hide');
        }
    }

    function openVaild(method){
        var vaild = $("input[name='validityTime']:checked").val();
        if(vaild==1){
            $(".modal-body").show();
            $("#validityTime-checked-1").show();
            $("#validityTime-checked-2").hide();
        }else if(vaild==2){
            $(".modal-body").show();
            $("#validityTime-checked-1").hide();
            $("#validityTime-checked-2").show();

        }else{
            $(".modal-body").hide();
            $("#validityTime-checked-1").hide();
            $("#validityTime-checked-2").hide();
        }
        $("#validityTime").modal('show');
    }

    $("input[name='validityTime']").on('change', function(event){
        var vaild = $("input[name='validityTime']:checked").val();
        if(vaild==1){
            $(".modal-body").show();
            $("#validityTime-checked-1").show();
            $("#validityTime-checked-2").hide();
        }else if(vaild==2){
            $(".modal-body").show();
            $("#validityTime-checked-1").hide();
            $("#validityTime-checked-2").show();

        }else{
            $(".modal-body").hide();
            $("#validityTime-checked-1").hide();
            $("#validityTime-checked-2").hide();
        }
    });
    $("#detail").summernote({
        minHeight : 150,
        lang:'zh-CN',
        disableDragAndDrop: true,
        dialogsInBody: true,
        dialogsFade : true,
        toolbar: [
            // ['style', ['style']],
            ['font', ['bold', 'underline']],
            // ['font', ['bold', 'underline', 'clear']],
            // ['fontname', ['fontname']],
            ['color', ['color']],
            // ['para', ['ul', 'ol', 'paragraph']],
            // ['table', ['table']],
            ['insert', ['link', 'picture']],
            // ['insert', ['link', 'picture', 'video']],
            // ['view', ['fullscreen', 'codeview', 'help']]
        ],
        callbacks : {
            // onImageUpload的参数为files，summernote支持选择多张图片
            onImageUpload : function(files) {
                var $files = $(files);
                // 通过each方法遍历每一个file
                $files.each(function() {
                    var file = this;
                    // FormData，新的form表单封装，具体可百度，但其实用法很简单，如下
                    var data = new FormData();
                    // 将文件加入到file中，后端可获得到参数名为“file”
                    data.append("image", file);
                    // ajax上传
                    $.ajax({
                        data : data,
                        type : "POST",
                        url : "{:url('Foods/uploadImg')}",// div上的action
                        cache : false,
                        contentType : false,
                        processData : false,
         
                        // 成功时调用方法，后端返回json数据
                        success : function(data) {
                            // 状态ok时
                            if (data.code == 1) {
                                // 获取后台数据保存的图片完整路径
                                var imageUrl = data.msg;
         
                                // 插入到summernote
                                $("#detail").summernote('insertImage', imageUrl, function($image) {
                                    // todo，后续可以对image对象增加新的css式样等等，这里默认
                                    $image[0].style.width="100%";
                                });
                            }
         
                        },
                        // ajax请求失败时处理
                        error : function(res){

                        }
                    });
                });
            }
        }

    })

    $('.del-btn').click(function () {
        swal({
            text: '{:lang(\'是否確認刪除套餐\')}?',
            imageUrl: 'STATIC_PATH/assets/mobile/images/a-dishes-delete.png',
            showCancelButton: true,
            confirmButtonText: '{:lang(\'確認\')}',
            confirmButtonColor: '#e07a0a',
            cancelButtonText: '{:lang(\'取消\')}',
            imageSize: '16x16',
            customClass: 'del'
        }).then(function(isConfirm) {
          if (isConfirm === true) {
            $.ajax({
                type: "POST",
                url : "{:url('del')}",
                data: {'id':'{$meal.id}'},
                async: true,
                beforeSend: function(){
                    openloading("STATIC_PATH/assets/img/loading-2.gif");
                },
                success: function(data) {
                    closeloading();
                  if (data.code) {
                    swal({
                        'text':data.msg,
                        'confirmButtonText': '{:lang(\'確認\')}',
                        'confirmButtonColor':'#e07a0a',
                        'imageUrl': 'STATIC_PATH/assets/mobile/images/a-dishes-delete-ful.png',
                        'imageSize': '16x16',
                        'customClass': 'success'
                    }).then(function(isConfirm) {
                        location.href = data.url;
                    });
                  } else {
                    swal({
                        'text':data.msg,
                        'confirmButtonText': '{:lang(\'確認\')}',
                        'confirmButtonColor':'#e07a0a',
                        'imageUrl': 'STATIC_PATH/assets/mobile/images/correct-format.png',
                        'imageSize': '16x16',
                        'customClass': 'fail'
                    });
                  }
                },
                error: function(request) {
                    closeloading();
                    swal({
                        'text':'{:lang(\'頁面錯誤\')}',
                        'confirmButtonText': '{:lang(\'確認\')}',
                        'confirmButtonColor':'#e07a0a',
                        'imageUrl': 'STATIC_PATH/assets/mobile/images/error-img.png',
                        'imageSize': '16x16',
                        'customClass': 'fail'
                    });
                }
            });
          }
        });
        
    });

    var submitInfo = true;
	$('.member-cate-add-btn').click(function () {
        if(submitInfo){
            if (!$("#detail").summernote('isEmpty')) {
                var detail = $('#detail').summernote('code');
                $("#inputdetail").val(detail);
            }
            var edit = $('#edit').serialize();
            $.ajax({
                type: "POST",
                url : '{:url('edit')}',
                data: $('#edit').serialize(),
                async: true,
                beforeSend: function(){
                    openloading("STATIC_PATH/assets/img/loading-2.gif");
                },
                success: function(data) {
                    closeloading();
                    if (data.code) {
                        swal({
							'text':data.msg,
							'confirmButtonText': '{:lang(\'確認\')}',
							'confirmButtonColor':'#e07a0a',
							'imageUrl': 'STATIC_PATH/assets/mobile/images/a-dishes-edit.png',
							'imageSize': '16x16',
							'customClass': 'success'
						}).then(function(isConfirm) {
                            // window.history.go(-1);
                            location.href = data.url;
                        });
                    } else {
                        swal({
							'text':data.msg,
							'confirmButtonText': '{:lang(\'確認\')}',
							'confirmButtonColor':'#e07a0a',
							'imageUrl': 'STATIC_PATH/assets/mobile/images/fill-content.png',
							'imageSize': '16x16',
							'customClass': 'fail'
						});
                    }
                },
                error: function(request) {
                    closeloading();
					swal({
						'text':'{:lang(\'頁面錯誤\')}',
						'confirmButtonText': '{:lang(\'確認\')}',
						'confirmButtonColor':'#e07a0a',
						'imageUrl': 'STATIC_PATH/assets/mobile/images/error-img.png',
						'imageSize': '16x16',
						'customClass': 'fail'
					});
                }
            });
        }else{
            swal({
                'text':'{:lang(\'圖片上傳中,請稍後\')}',
				'confirmButtonText': '{:lang(\'確認\')}',
                'confirmButtonColor':'#e07a0a',
				'customClass': 'default'
            });
        }
        
    });

    $("#upload-img").click(function(){
        $(".clipbg-img").fadeIn()
    })

    function photoclip_obj(imgurl) {
        var photoclip = new  PhotoClip("#clipArea1", {
            size: [300, 300],//裁剪框大小
            outputSize:[0,0],//打开图片大小，[0,0]表示原图大小
            img:imgurl,
            ok: "#clipBtn-img",
            loadStart: function() {
                //图片开始加载的回调函数。this 指向当前 PhotoClip 的实例对象，并将正在加载的 file 对象作为参数传入。（如果是使用非 file 的方式加载图片，则该参数为图片的 url）
                var size = img.size;
                if(size> {:config('UploadSize.logo')}){
                    swal({
                        'text':'{:lang(\'圖片大小不能超過\')}{:config("UploadSize.logo")/1024/1024}M！',
                        'confirmButtonText': '{:lang(\'確認\')}',
                        'confirmButtonColor':'#e07a0a',
                        'customClass': 'default'
                    });
                    return false;
                }
                $(".loading-img").removeClass("displaynone");

            },
            loadComplete: function() {
                //图片加载完成的回调函数。this 指向当前 PhotoClip 的实例对象，并将图片的 <img> 对象作为参数传入。
                $(".loading-img").addClass("displaynone");

            },
            done: function(dataURL) {
                //裁剪完成的回调函数。this 指向当前 PhotoClip 的实例对象，会将裁剪出的图像数据DataURL作为参数传入。
                $(".clipbg-img").fadeOut();
                $(".food-img").attr("src",dataURL);
                $("#pic_path").val(dataURL);
                var originurl = $('.photo-clip-rotation-layer img').attr('src');
                $("#originurl").val(originurl);
            }
        });
    }

    function getimgdata(imgdata){
        console.log(imgdata);
        photoclip_obj(imgdata);
    }

    function getimgurl(base64Codes){
        console.log(base64Codes);
        photoclip_obj(base64Codes);
    }

    var clipAreaImg = new  PhotoClip("#clipArea1", {
        size: [300, 300],//裁剪框大小
        outputSize:[0,0],//打开图片大小，[0,0]表示原图大小
        file: "#img",
        ok: "#clipBtn-img",
        loadStart: function() {
        //图片开始加载的回调函数。this 指向当前 PhotoClip 的实例对象，并将正在加载的 file 对象作为参数传入。（如果是使用非 file 的方式加载图片，则该参数为图片的 url）
            var size = document.getElementById("img").files[0].size;
            if(size> {:config('UploadSize.logo')}){
                swal({
                    'text':'{:lang(\'圖片大小不能超過\')}{:config("UploadSize.logo")/1024/1024}M！',
					'confirmButtonText': '{:lang(\'確認\')}',
					'confirmButtonColor':'#e07a0a',
					'customClass': 'default'
                });
                return false;
            }
            $(".loading-img").removeClass("displaynone");

        },
        loadComplete: function() {
        //图片加载完成的回调函数。this 指向当前 PhotoClip 的实例对象，并将图片的 <img> 对象作为参数传入。
            $(".loading-img").addClass("displaynone");

        },
        done: function(dataURL) { 
        //裁剪完成的回调函数。this 指向当前 PhotoClip 的实例对象，会将裁剪出的图像数据DataURL作为参数传入。        
            $(".clipbg-img").fadeOut();
            $(".food-img").attr("src",dataURL);
            $("#pic_path").val(dataURL);
            var originurl = $('.photo-clip-rotation-layer img').attr('src');
            $("#originurl").val(originurl);
        }
    });

    $(".back-img").click(function(){
        $(".clipbg-img").fadeOut()
    })

    function setCategory(){
        var selectOption = mobileSelect1.getValue();
        $("#categoryId").val(selectOption[0]['id']);
        $("#categoryName").val(selectOption[0]['value']);
    }

    // 設置分類選項數組
    var option = [];
    // 設置默認值名稱
    var positionKey = 0;
    {volist name="category" id="vo" key="i"}
    // 設置分類選項
    option.push({id:{$vo.id},value:'{$vo.name}'});
    {if($vo.id==$meal.categoryId)}
    // 設置默認值
    positionKey = {$key};
    {/if}
    {/volist}

    if(option!='[]'&&option.length>0){
        var mobileSelect1 = new MobileSelect({
            trigger: '#category', 
            title: '{:lang(\'分類\')}',
            wheels: [
                {data:option},
            ],
            callback:setCategory,
            position:[positionKey] //初始化定位
        });
    }
</script>
</body>

</html>