{layout name="layout" /}

<!-- Content -->
<section id="content" class="container">
	<!-- Breadcrumb -->
	{include file="public/breadcrumb"/}
	<script src="{$Think.config.Houtai}js/jquery-3.3.1.min.js"></script>  
	<h4 class="page-title b-0">打印机编辑</h4>

	<div class="listview list-container">
		<!-- <header class="listview-header media">
			<ul class="list-inline list-mass-actions pull-left">
				<li>
					<a data-toggle="modal" href="{:url('Bank/add')}" title="Add" class="tooltips">
						<i class="sa-list-add"></i>
					</a>
				</li>

				<li class="show-on" style="display: none;">
					<a href="" title="Delete" class="tooltips">
						<i class="sa-list-delete"></i>
					</a>
				</li>
			</ul>
			<div class="clearfix"></div>
		</header>
 -->
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-8">
								<form action="{:url('Printer/edit')}" class="form-horizontal ajax-form" method="post" enctype="multipart/form-data" id="edit">

									<input type="hidden" value={$printer.id} name="id">
									<div class="form-group">
										<label for="inputcontact" class="col-sm-3 control-label">打印機型號</label>
										<div class="col-sm-5">
											<select id="PrinterBrand" class="form-control select2" name="PrinterBrand"> 
											    <option value="">請選擇</option>
												{volist name="PrinterBrand" id="vo"} 
												<option value="{$vo.id}" {if($printer.brandId==$vo.id)}selected{/if}>{$vo.brand}-{$vo.brandNumber}</option>
												{/volist}
											</select>
										</div>
									</div>

									<div class="form-group">
										<label for="inputname" class="col-sm-3 control-label">餐廳選擇</label>
										<div class="col-sm-5">
											<select id="contact" class="form-control select2" name="contact">  
											    <option value="">請選擇</option>
												{volist name="contact" id="vo"}
												<option value="{$vo.number}" {if($printer.contactNumber==$vo.number)}selected{/if}>{$vo.name}({$vo.number})</option>
												{/volist} 
											</select>
										</div>
									</div>

									<div class="form-group">
										<label for="inputname" class="col-sm-3 control-label">打印機暱稱</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" name="nick" id="nick" maxlength="30" value="{$printer.deviceNick}">
										</div>
									</div>

									<div class="form-group">
										<label for="inputname" class="col-sm-3 control-label">設備編號</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" name="number" id="number" maxlength="64" value="{$printer.deviceNumber}">
										</div>
									</div>

									<div class="form-group">
										<label for="inputname" class="col-sm-3 control-label">商戶編號</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" name="shop" id="shop" maxlength="64" value="{$printer.shopNumber}">
										</div>
									</div>
									
									<div class="form-group">
										<label for="inputname" class="col-sm-3 control-label">api密鑰</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" name="api" id="api" maxlength="64" value="{$printer.apiKey}">
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 control-label" for=""> 是否启用 </label>
										<div class="col-sm-5" style="margin-top: 7px;">
											{if condition="$printer['disable'] eq 1"}
											<label><input type="radio" name="disable" id="disable1" value="1" checked="checked"/>啟用</label>
											<label><input type="radio" name="disable" id="disable0" value="0" />禁用</label>
											{else /}
											<label><input type="radio" name="disable" id="disable1" value="1"/>啟用</label>
											<label><input type="radio" name="disable" id="disable0" value="0" checked="checked"/>禁用</label>
											{/if}
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-offset-3 col-sm-9">
											<div class="btn btn-primary submit">提交</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<style>
	.note-toolbar-wrapper,.note-toolbar{
		background-color: #666 !important;
	}
</style>
<script type="text/javascript">  
    //页面加载完成后初始化select2控件  
    $(function () {
    	$("#PrinterBrand").select2({
	    	width:'100%',
		    language: {
		        noResults: function (params) {
		            return "没有该選項";
		        }
		    }
		});
		$("#contact").select2({
	    	width:'100%',
		    language: {
		        noResults: function (params) {
		            return "没有该選項";
		        }
		    }
		});
		$("#PrinterBrand").change(function(){
			var printer = $("#PrinterBrand").val();
			$.ajax({
	            type: "POST",
	            url : '{:url('base/getprintinfo')}',
	            data: {printer:printer},
	            async: true,
	            success: function(data) {
	            	if(data.code){
	            		if(data.msg){
			                $("#api").val(data.msg.apiKey);
			                $("#shop").val(data.msg.shopNumber);
	            		}else{
			                $("#api").val('');
			                $("#shop").val('');
	            		}
	            	}else{
		                alert(data.msg);
	            	}
	            },
	            error: function(request) {
	                alert('頁面錯誤');
	            }
	        });
		});
		$(".submit").click(function(){
			$.ajax({
                type: "POST",
                url : '{:url('Printer/edit')}',
                data: $("#edit").serialize(),
                async: true,
                success: function(data) {
                	if(data.code){
	                    alert(data.msg);
	            		window.history.go(-1);
                	}else{
	                    alert(data.msg);
                	}
                },
                error: function(request) {
                    alert('頁面錯誤');
                }
            });
		});
	});
</script> 