{include file="common:header"}
<body>
<div class="index-wrapper">
    <div class="container">
        <div class="item-title">請選擇支付方式</div>
        <ul class="ul-type">
            <li class="item-li">
                <input type="radio" name="pay" id="cash">
                <label for="cash">
                <div class="pay-name">現金支付</div>
                <img class="hk" src="STATIC_PATH/assets/padweb/images/HK.png" alt="">
                </label>
            </li>
            <li class="item-li">
                <input type="radio" name="pay" id="phone">
                <label for="phone">
                <div class="pay-name">WeChat/支付寶</div>
                <i class="fab-wechat"></i>
                <i class="fab-alipay"></i>
                </label>
            </li>
            <li class="item-li">
                <input type="radio" name="pay" id="octopus">
                <label for="octopus">
                <div class="pay-name">八達通</div>
                <img class="hk" src="STATIC_PATH/assets/padweb/images/octopus.png" alt="">
                </label>
            </li>
        </ul>
    </div>
</div>

<style type="text/css">
    .index-wrapper {
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
        background: url("/static/assets/padweb/images/bg.jpg") no-repeat center;
        background-size: 100% 100%;
    }

    .index-wrapper .container {
        width: 100%;
        height: 100%;
        padding-top: 16%;
        background-color: rgba(100, 164, 169, .7);
    }

    .item-title {
        font-size: 60px;
        color: #ffffff;
        text-align: center;
        margin: 0 10% 90px;
        width: 80%;
    }

    .item-li{
        background-color: #fff;
        width: 80%;
        margin:0 auto 34px;
        text-align: center;
        border-radius: 8px;
    }
    .item-li label{
        display: inline-block;
        width: 100%;
        padding: 80px 0;
        text-align: center;
        border-radius: 8px;
    }
    .item-li input[type="radio"]:checked + label{
        color: #6DAEB0;
        box-shadow: 0 -2px 7px 5px rgba(96, 191, 181, 1);
    }
    input[type="radio"] {
        position: absolute;
        clip: rect(0, 0, 0, 0);
    }

    .pay-name {
        font-size: 50px;
        color: #000;
        margin-bottom: 74px;
        font-weight: normal;
    }

    .hk {
        width: 29%;
    }


    .fab-wechat,.fab-alipay{
        display: inline-block;
        font-size:120px;
        margin: 0 5%;
    }

</style>
<script TYPE="text/javascript">
 $(".item-li").on("click",function () {
     window.location.href='payreminder.html';
 })
</script>
</body>
</html>
