body {
    width: 100vw;
    min-height: 100vh;
}

.container-div {
    width: 100%;
    height: 100%;
    position: relative;
}

.container{
    -webkit-overflow-scrolling: touch;
    background: #F6F8F8;
}

.order-main {
    position: relative;
    bottom: 0;
    -webkit-overflow-scrolling: touch;
    /*margin-bottom: 15vw;*/
}

.owner-header {
    display: flex;
    width: 100%;
    padding: 0.5rem 0.6rem 2rem;
    margin-left: -0.6rem;
    background-size: 100% 100%;
    /*background: rgba(216,216,216,1) linear-gradient(180deg,rgba(80,152,157,1) 0%,rgba(83,182,146,1) 100%);*/
    background-color:#52B293;background-color:#52B293;
    border-radius:0 0 160% 160%;
}

.owner-header .owner-header-info{
    position:relative;
    flex:1;
}

.owner-header-info .login-out{
    position:absolute;
    right: 0.3rem;
    top:0;
    font-size:0;
}

.owner-header-info .login-out .fab-logout{
    font-size: 0.4rem;
    color:#ffffff;
}


.owner-order {
    width: 100%;
    margin: 0.2rem 0;
    font-size: 0;
    text-align: left;
}

.owner-header-icon{
    margin:0 0.4rem 0 0.3rem;
}

.owner-order-today {
    border-right: 1px solid #6Abbb1;
}

.owner-order-today, .owner-order-price {
    display: inline-block;
    width: 40%;
    background-image: none;
    margin:0;
    padding: 0 2%;
    vertical-align: top;
}


.owner-order-number, .owner-order-name {
    width: 100%;
    position: relative;
}

.owner-order-number {
    font-size: 0.28rem;
}

.owner-order-name {
    margin-top: 0;
    height: max-content;
    font-size: 0.24rem;
    line-height: 1.5;
}

.owner-order img {
    width: 5vw;
    margin-bottom: -1vw;
    margin-right: 5px;
}

.owner-list {
    padding:0 0.3rem;
    top:-1.6rem;
    z-index: 99;
}

.owner-order-ul{
    padding:0.3rem 0;
    margin-bottom:0.3rem;
    font-size: 0;
    border-radius:4px;
    background-color:#fff;
}

.owner-order-ul .owner-order-li{
   display: inline-block;
    width:50%;
    color:#333333;
    text-align: center;
}

.icon.icon-logout{
    width:0.4rem;
    height: 0.4rem;
}

.owner-order-li .new-order-total{
    font-size:0.42rem;
    font-weight: bold;
}

.owner-order-ul .owner-order-li img,.owner-order-ul .owner-order-li i{
    width:0.76rem;
}



.owner-li img {
    width: 0.52rem;
    height: 0.52rem;
}

.owner-li img.jiantuo {
    width: 3vw;
    height: auto;
    margin-right: 0;
}
