<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">
    <meta name="description" content="Violate Responsive Admin Template">
    <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">
    <title>優惠券</title>
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/style.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/css/icon.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/wxweb/css/coupon.css">
</head>
<body>
    <div class="container-div">
        <div class="head-div">
            <i class="fab-left" onclick="javascript:location.href='/index.php/mobile/owner/index.html';"></i>
            <div class="title">{:lang('優惠券')}</div>
        </div>
        <div class="container-main">
            <div class="item-li coupon-g">
                <div class="hr"></div>
                <div class="price">HK$<em class="price">100</em></div>
                <div class="info">
                    <div class="name">周末套餐</div>
                    <div class="remark">滿200元可用</div>
                    <div class="datetime">有效期：2019.07.03-2019-08.29</div>
                </div>
            </div>
            <div class="item-li coupon-o">
                <div class="hr"></div>
                <div class="price">HK$<em class="price">20</em></div>
                <div class="info">
                    <div class="name">抵扣券</div>
                    <div class="remark">可抵扣20元</div>
                    <div class="datetime">有效期 ：2019.07.03-2019-08.29</div>
                </div>
            </div>
            <div class="item-li coupon-b">
                <div class="hr"></div>
                <div class="price">HK$<em class="price">50</em></div>
                <div class="info">
                    <div class="name">滿減券</div>
                    <div class="remark">滿650元可用</div>
                    <div class="datetime">有效期：2019.07.03-2019-08.29</div>
                </div>
            </div>
            <div class="item-li coupon-y">
                <div class="hr"></div>
                <div class="price">HK$<em class="price">5</em></div>
                <div class="info">
                    <div class="name">折扣券</div>
                    <div class="remark">可抵扣5元</div>
                    <div class="datetime">有效期：2019.07.03-2019-08.29</div>
                </div>
            </div>
            <div class="item-li coupon-e">
                <div class="hr"></div>
                <div class="price">HK$<em class="price">5</em></div>
                <div class="info">
                    <div class="name">折扣券</div>
                    <div class="remark">滿50元可用</div>
                    <div class="datetime">有效期：2019.07.03-2019-08.29</div>
                </div>
                <img src="STATIC_PATH/assets/wxweb/images/used.png" alt="" class="img">
            </div>
            <div class="item-li coupon-e">
                <div class="hr"></div>
                <div class="price">HK$<em class="price">5</em></div>
                <div class="info">
                    <div class="name">滿減券</div>
                    <div class="remark">滿50元可用</div>
                    <div class="datetime">有效期：2019.07.03-2019-08.29</div>
                </div>
                <img src="STATIC_PATH/assets/wxweb/images/expired.png" alt="" class="img">
            </div>
        </div>
</body>
</html>