
<div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
				是否確認提交訂單
			</div>
			<div class="modal-footer">
				<div class="ok"></div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="modal fade" id="configModal" tabindex="-1" role="dialog" aria-labelledby="configModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
				是否確認提交訂單
			</div>
			<div class="modal-footer">
				<div class="cancel"></div>
				<div class="ok"></div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>