{layout name="layout" /}

<!-- Content -->
<section id="content" class="container">
	<!-- Breadcrumb -->
	{include file="public/breadcrumb"/}
	<script src="{$Think.config.Houtai}js/jquery-3.3.1.min.js"></script>  
	<h4 class="page-title b-0">打印机型号添加</h4>

	<div class="listview list-container">
		<!-- <header class="listview-header media">
			<ul class="list-inline list-mass-actions pull-left">
				<li>
					<a data-toggle="modal" href="{:url('Bank/add')}" title="Add" class="tooltips">
						<i class="sa-list-add"></i>
					</a>
				</li>

				<li class="show-on" style="display: none;">
					<a href="" title="Delete" class="tooltips">
						<i class="sa-list-delete"></i>
					</a>
				</li>
			</ul>
			<div class="clearfix"></div>
		</header>
 -->
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-8">
								<form action="{:url('Printerbrand/add')}" class="form-horizontal ajax-form" method="post" enctype="multipart/form-data" id="add">

									<div class="form-group">
										<label for="inputname" class="col-sm-3 control-label">打印機品牌</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" name="name" id="name" maxlength="50">
										</div>
									</div>

									<div class="form-group">
										<label for="inputname" class="col-sm-3 control-label">打印機型號</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" name="number" id="number" maxlength="50">
										</div>
									</div>

									<div class="form-group">
										<label for="inputname" class="col-sm-3 control-label">文件名</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" name="file" id="file" maxlength="20">
										</div>
									</div>

									<div class="form-group">
										<label for="inputname" class="col-sm-3 control-label">商戶編號</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" name="shop" id="shop" maxlength="64">
										</div>
									</div>
									
									<div class="form-group">
										<label for="inputname" class="col-sm-3 control-label">api密鑰</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" name="api" id="api" maxlength="64">
										</div>
									</div>

									<div class="form-group">
										<label for="inputcontact" class="col-sm-3 control-label">打印機類型</label>
										<div class="col-sm-5">
											<select id="type" class="form-control select2" name="type">  
											    <option value="">請選擇</option>
												<option value="1">云打印機</option>
												<option value="2">非云打印機</option>
											</select>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-3 control-label" for=""> 是否启用 </label>
										<div class="col-sm-5" style="margin-top: 7px;">
											<label><input type="radio" name="disable" id="disable1" value="1" checked="checked"/>啟用</label>
											<label><input type="radio" name="disable" id="disable0" value="0" />禁用</label>
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-3 col-sm-9">
											<div class="btn btn-primary submit">提交</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<style>
	.note-toolbar-wrapper,.note-toolbar{
		background-color: #666 !important;
	}
</style>
<script type="text/javascript">  
    //页面加载完成后初始化select2控件  
    $(function () {
    	$("#type").select2({
	    	width:'100%',
		    language: {
		        noResults: function (params) {
		            return "没有该選項";
		        }
		    }
		});
		$(".submit").click(function(){
			$.ajax({
                type: "POST",
                url : '{:url('Printerbrand/add')}',
                data: $("#add").serialize(),
                async: true,
                success: function(data) {
                	if(data.code){
	                    alert(data.msg);
	            		window.history.go(-1);
                	}else{
	                    alert(data.msg);
                	}
                },
                error: function(request) {
                    alert('頁面錯誤');
                }
            });
		});
	});
</script> 