<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<meta name="format-detection" content="telephone=no">
	<meta charset="UTF-8">
	<meta name="description" content="Violate Responsive Admin Template">
	<meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">
	<title>注册</title>
	<!-- CSS -->
	<link rel="stylesheet" href="STATIC_PATH/assets/court/css/style.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/court/css/jquery.core.image.upload.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/court/css/marketSelect.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/court/css/sweetalert2.min.css">
	<script type="text/javascript" src="STATIC_PATH/assets/court/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="STATIC_PATH/assets/court/js/jquery.core.image.upload.js"></script> <!-- File Upload -->
    <script type="text/javascript" src="STATIC_PATH/assets/court/js/marketSelect.min.js"></script>
    <script type="text/javascript" src="STATIC_PATH/assets/court/js/sweetalert2.js"></script><!-- alert confirm插件 -->
</head>
<body>
<div class="container">
	<div class="register-main">
        <div class="register-scroll">
		<form  action="{:url('register')}" method="post" id="register">
            <div class="register-info">
                <div class="register-input-li-small">
                    <div class="register-small-label">用戶名：</div><input name="username" type="text">
                </div>
                <div class="register-input-li-small">
                    <div class="register-small-label">密碼：</div><input name="password" type="password">
                </div>
                <div class="register-input-li-long">
                    <div class="register-long-label">確認密碼：</div><input name="repassword" type="password">
                </div>
                <div class="register-input-li-long">
                    <div class="register-long-label">商家編號：</div><input name="number" type="text">
                </div>
                <div class="food-input-li">
                    <div class="food-cate-label">餐廳類型：</div><div id="category"></div><img src="STATIC_PATH/assets/court/images/arrow-next.png" class="food-arrow">
                    <input type="hidden" name="categoryId" id="categoryId">
                    <input type="hidden" name="categoryName" id="categoryName">
                </div>
                <div class="register-input-li-long">
                    <div class="register-long-label">餐廳名稱：</div><input name="contact" type="text">
                </div>
                <div class="food-input-li">
                    <div class="food-cate-label">餐廳logo</div>
                    <div class="upload-img" id="upload-logo"></div>
                    <img src="STATIC_PATH/assets/court/images/add-img.png" class="food-img" id="show-logo">
                    <input type="hidden" name="pic_path" id="logo_path">
                </div>
                <div class="food-input-li">
                    <div class="food-cate-label">餐廳背景圖</div>
                    <div class="upload-img" id="upload-img"></div>
                    <img src="STATIC_PATH/assets/court/images/add-img.png" class="food-img" id="show-img">
                    <input type="hidden" name="img_path" id="img_path">
                </div>
            </div>
            <div class="register-info">
                <div class="register-input-li-small">
                    <div class="register-small-label">聯繫人：</div><input name="person" type="text">
                </div>
                <div class="register-input-li-long">
                    <div class="register-long-label">聯繫電話：</div><input name="phone" type="text">
                </div>
                <div class="register-input-li-small">
                    <div class="register-small-label">備註：</div><input name="detail" type="text">
                </div>
                <div class="register-input-li-small">
                    <div class="register-small-label">郵箱：</div><input name="mail" type="text">
                    <div class="register-error-div">
                        <img class="register-error-img" src="STATIC_PATH/assets/court/images/error.png">
                        <div class="register-error-span">格式錯誤</div>
                    </div>
                </div>
            </div>
        </form>
        </div>
        <div class="member-cate-add-btn">確認添加</div>
	</div>
</div>
	
<script type="text/javascript">
	var hrt = $(window).height(); //获取当前可视区域的高度存到hrt的变量里。
	window.onload=function(){ //在页面整体加载完毕时
		$('body').height(hrt+'px'); //把获取到的高度直接赋值给body避免虚拟键盘改变页面样式
	};
	$('.member-cate-add-btn').click(function () {
        $.ajax({
            
            type: "POST",
            url : '{:url('register')}',
            data: $('#register').serialize(),
            async: true,
            success: function(data) {
                if (data.code) {
                    swal({
						'text':data.msg,
						'confirmButtonText': '确认',
						'confirmButtonColor':'#ea831e',
						'imageUrl': 'STATIC_PATH/assets/court/images/wancheng.png',
						'imageSize': '16x16',
						'customClass': 'success'
					}).then(function(isConfirm) {
                        location.href = data.url;
                    });
                } else {
                    swal({
						'text':data.msg,
						'confirmButtonText': '确认',
						'confirmButtonColor':'#ea831e',
						'imageUrl': 'STATIC_PATH/assets/court/images/shanchu.png',
						'imageSize': '16x16',
						'customClass': 'fail'
					});
                }
            },
            error: function(request) {
				swal({
					'text':'页面错误',
					'confirmButtonText': '确认',
					'confirmButtonColor':'#ea831e',
					'imageUrl': 'STATIC_PATH/assets/court/images/shanchu.png',
					'imageSize': '16x16',
					'customClass': 'fail'
				});
            }
        });
    });
    $("#upload-img").coreImageUpload ({
        url: '{:url("login/uploadImg",['type'=>'img'])}',
        inputOfFile: 'image',
        uploadedCallback: function (result) {
            submitInfo = true;
            if(result.code==1){
				swal({
					'text':'上传成功！',
					'confirmButtonText': '确认',
					'confirmButtonColor':'#ea831e',
					'imageUrl': 'STATIC_PATH/assets/court/images/wancheng.png',
					'imageSize': '16x16',
					'customClass': 'success'
				});
                $("#show-img").attr("src",result.msg);
                $("#img_path").val(result.msg);
            }else{
				swal({
					'text':'上传失败！',
					'confirmButtonText': '确认',
					'confirmButtonColor':'#ea831e',
					'imageUrl': 'STATIC_PATH/assets/court/images/shanchu.png',
					'imageSize': '16x16',
					'customClass': 'fail'
				});
            }
        }
    });
    $("#upload-logo").coreImageUpload ({
        url: '{:url("login/uploadImg",['type'=>'logo'])}',
        inputOfFile: 'image',
        uploadedCallback: function (result) {
            submitInfo = true;
            if(result.code==1){
                swal({
					'text':'上传成功！',
					'confirmButtonText': '确认',
					'confirmButtonColor':'#ea831e',
					'imageUrl': 'STATIC_PATH/assets/court/images/wancheng.png',
					'imageSize': '16x16',
					'customClass': 'success'
				});
                $("#show-logo").attr("src",result.msg);
                $("#logo_path").val(result.msg);
            }else{
                swal({
					'text':'上传失败！',
					'confirmButtonText': '确认',
					'confirmButtonColor':'#ea831e',
					'imageUrl': 'STATIC_PATH/assets/court/images/shanchu.png',
					'imageSize': '16x16',
					'customClass': 'fail'
				});
            }
        }
    });
    function setCategory(){
        var selectOption = marketSelect1.getValue();
        $("#categoryId").val(selectOption[0]['id']);
        $("#categoryName").val(selectOption[0]['value']);
    }
    // 設置分類選項數組
    var option = [];
    {volist name="category" id="vo" key="i"}
    // 設置分類選項
    option.push({id:{$vo.id},value:'{$vo.name}'});
    {/volist}
    //分类组


    var marketSelect1 = new marketSelect({
        trigger: '#category', 
        title: '餐廳類型',  
        wheels: [
            {data:option,},
        ],
        callback:setCategory,
    });
</script>
</body>

</html>