{layout name="layout" /}

<!-- Content -->
<section id="content" class="container">
    <script src="{$Think.config.Houtai}js/jquery-3.3.1.min.js"></script>
	<!-- Breadcrumb -->
	{include file="public/breadcrumb"/}
	<h4 class="page-title b-0">编辑用户</h4>

	<div class="listview list-container">
		<!-- <header class="listview-header media">
			<ul class="list-inline list-mass-actions pull-left">
				<li>
					<a data-toggle="modal" href="{:url('back/user/add')}" title="Add" class="tooltips">
						<i class="sa-list-add"></i>
					</a>
				</li>

			</ul>

			<div class="clearfix"></div>
		</header> -->
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-8">
								<form action="{:url('back/user/edit',['zid'=>$userRow['zid']])}" class="form-horizontal ajax-form" method="post" id="editform">
									<div class="form-group">
										<label for="inputrole_id" class="col-sm-3 control-label">用户组</label>
										<div class="col-sm-5">
											<select name="id" id="inputrole_id" class="form-control">
												<option value="0">请选择用户组</option>
												{volist name="groupRows" id="vo"} {if condition="$vo['id'] eq $userRow['uid']"}
												<option value="{$vo.id}" selected="selected">{$vo.title}</option>
												{else /}
												<option value="{$vo.id}">{$vo.title}</option>
												{/if} {/volist}
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="inputname" class="col-sm-3 control-label">昵称</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" name="nick" value="{$userRow.nick}">
										</div>
									</div>
									<div class="form-group">
										<label for="inputpassword" class="col-sm-3 control-label">修改密码</label>
										<div class="col-sm-5">
											<input type="password" class="form-control" name="password" placeholder="新密码">
										</div>
									</div>
									<div class="form-group">
										<label for="inputrepassword" class="col-sm-3 control-label">确认密码</label>
										<div class="col-sm-5">
											<input type="password" class="form-control" name="repassword" placeholder="确认新密码">
										</div>
									</div>
									<div class="form-group">
										<label for="inputrepassword" class="col-sm-3 control-label">邮箱</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" name="email" id="inputemail" placeholder="邮箱" value="{$userRow.email}" maxlength="30">
										</div>
									</div>
									<div class="form-group">
										<label for="inputrepassword" class="col-sm-3 control-label">手机号</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" name="mobile" id="inputemobile" placeholder="手机号" value="{$userRow.mobile}" maxlength="40">
										</div>
									</div>

									<div class="form-group">
										<label for="" class="col-sm-3 control-label">头像</label>
										<div class="col-sm-9">
											<div class="fileupload fileupload-new" data-provides="fileupload">
												<div class="fileupload-new thumbnail small form-control">
													<img src="{$userRow.head}"></div>
												<div class="fileupload-preview form-control fileupload-exists thumbnail small">
												</div>
												<span class="btn btn-file btn-alt btn-sm">
                            					<span class="fileupload-new">Select image</span>
												<span class="fileupload-exists">Change</span>
												<input type="file" name="image" id="image"/>
												</span>
												<a href="#" class="btn-sm btn fileupload-exists" data-dismiss="fileupload">Remove</a>
											</div>
										</div>
									</div>
									{if($userRow['is_contact']==3)}
									<div id="market_input">
										<div class="form-group">
											<label for="inputname" class="col-sm-3 control-label">佣金分组</label>
											<div class="col-sm-5">
												<select id="commission" class="form-control select2" name="commission" id="commission">  
												    <option value="">请选择</option>
													{volist name="commission" id="vo"}
													<option value="{$vo.id}" {if($vo.id==$userRow.commissionId)}selected="selected"{/if}>{$vo.name}</option>
													{/volist} 
												</select>
											</div>
										</div>
										<div class="form-group">
											<label for="inputname" class="col-sm-3 control-label">发款银行账号</label>
											<div class="col-sm-5">
												<select id="paynumber" class="form-control select2" name="paynumber" id="paynumber">
												    <option value="">请选择</option>
													{volist name="bn" id="vo"}
													<option value="{$vo.id}" {if($vo.id==$userRow.payable_bn_id)}selected="selected"{/if}>{$vo.bank_number}({$vo.owner})</option>
													{/volist} 
												</select>
											</div>
										</div>
									</div>
									{/if}

									<div class="form-group">
										<label class="col-sm-3 control-label" for="inputstatus"> 是否启用 </label>
										<div class="col-sm-5" style="margin-top: 7px;">
											{if condition="$userRow['status'] eq 1"}
											<label><input type="radio" name="status" id="inputstatus" value="1" checked="checked"/>启用</label>
											<label><input type="radio" name="status" id="inputstatus" value="0" />停用</label>
											{else /}
											<label><input type="radio" name="status" id="inputstatus" value="1"/>启用</label>
											<label><input type="radio" name="status" id="inputstatus" value="0" checked="checked"/>停用</label>
											{/if}
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-3 col-sm-9">
                                    		<div class="btn btn-primary submit">提交</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<style>
	.select2{
		background: rgba(0, 0, 0, 0.05);
	    border: 1px solid rgba(255, 255, 255, 0.3);
	    text-shadow: none;
	    color: #000;
	    box-shadow: none;
	    font-family: open-sans-regular;
	}
	.select2-results{
		color:#000;
	}
	.select2-search__field{
		color:#000;
	}
</style>
<script type="text/javascript"> 
$(function () {  
	$("#commission").select2({
    	width:'100%',
	    language: {
	        noResults: function (params) {
	            return "没有该分类";
	        }
	    }
	});
	$("#paynumber").select2({
    	width:'100%',
	    language: {
	        noResults: function (params) {
	            return "没有该发款账号";
	        }
	    }
	});
	$(".submit").click(function(){
        var options = {
            "beforeSubmit" : checkForm,
            "success" : resultForm,
            "resetForm" : false,
            "dataType" : "json"
        };
        $("#editform").ajaxSubmit(options);
    });
 
    function checkForm(formData, form, options) {
    }
 
    function resultForm(data, status) {
        //表单完成
        if(data.code){
	        alert(data.msg);
	        window.history.go(-1);
        }else{
	        alert(data.msg);
        }
    }
});
</script>