<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no">
	<meta charset="UTF-8">
	<meta name="description" content="Violate Responsive Admin Template">
	<meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">
	<title>{:lang('菜式選項添加')}</title>
	<!-- CSS -->
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/sweetalert2.min.css">
	<link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/reset.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/mobileSelect.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/bootstrap.min.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/style.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/css/icon.css"><!-- 图标库css-->

	<script type="text/javascript" src="STATIC_PATH/assets/mobile/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/mobileSelect.min.js"></script>
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/sweetalert2.js"></script><!-- alert confirm插件 -->
    <script src="STATIC_PATH/assets/mobile/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="STATIC_PATH/assets/js/loading.js"></script>
</head>
<body>
<div class="container edit-spec">
    <div class="head-div">
        <i class="fab-left" onclick="javascript:location.href='{:url('manage/Spec')}';"></i>
        <div class="title">{:lang('菜式選項添加')}</div>
    </div>
	<div style="font-size:0">
		<form  action="{:url('addSpec')}" method="post" id="add" onkeydown="if(event.keyCode==13)return false;">
    		<div class="member-cate-li spec-add">
    			<div class="member-cate-add-name">{:lang('選項-繁体')}</div><input name="name" type="text">
    		</div>
            <div class="member-cate-li spec-add">
                <div class="member-cate-add-name">{:lang('選項-英语')}</div><input name="name_en" type="text">
            </div>
            <div class="member-cate-li spec-add">
                <div class="member-cate-add-name">{:lang('選項-其他')}</div><input name="name_other" type="text">
            </div>
            <div class="member-cate-li spec-add">
        		<div class="member-cate-add-name">{:lang('選項組別')}</div><div class="select" id="spec"></div>
            <input type="hidden" name="specId" id="specId">
            <input type="hidden" name="specName" id="specName">
        	</div>
            <div class="select-valid" style="display: none;">
                <div class="member-cate-li member-spec-li">
                    <div class="member-cate-add-name">{:lang('最小選擇數')}</div>
                    <input name="min" type="text" class="select-input">
                </div>
                <div class="member-cate-li member-spec-li">
                    <div class="member-cate-add-name">{:lang('最大選擇數')}</div>
                    <input name="max" type="text" class="select-input">
                </div>
            </div>
            <div class="peice-li">
            <div class="member-cate-li member-spec-li">
                <div class="member-cate-add-name">{:lang('價格')}</div>
                <input name="price" type="text" class="select-input" value="0.00">
            </div>
            <div class="food-input-li  b-n food-select">
                <!--<div class="food-cate-label">規格數量</div>-->
                <div class="food-radio-div">
                    <input name="is_repeat" type="checkbox" value="1" id="label-dcff">
                    <label for="label-dcff" class="radio-label">{:lang('可重選')}</label>
                    <input name="is_default" type="checkbox" value="1" id="label-cdf">
                    <label for="label-cdf" class="radio-label">{:lang('默認')}</label>
                </div>
            </div>
        </div>

        	<div class="food-input-li  b-n food-select">
                <div class="food-cate-label">{:lang('狀態')}</div>
                <div class="food-radio-div">
                    <input name="status" type="radio" value="1" id="label-yes" checked="checked">
                    <label for="label-yes" class="radio-label">{:lang('啟用')}</label>
                    <input name="status" type="radio" value="2" id="label-disable">
                    <label for="label-disable" class="radio-label">{:lang('禁選')}</label>
                    <input name="status" type="radio" value="0" id="label-no">
                    <label for="label-no" class="radio-label">{:lang('禁用')}</label>
                </div>
            </div>
    		<div class="member-cate-add-btn">{:lang('確認添加')}</div>
        </form>
	</div>
</div>
	
<script type="text/javascript">
	var hrt = $(window).height(); //获取当前可视区域的高度存到hrt的变量里。
	window.onload=function(){ //在页面整体加载完毕时
		$('body').height(hrt+'px'); //把获取到的高度直接赋值给body避免虚拟键盘改变页面样式
	};
	$('.member-cate-add-btn').click(function () {
        $.ajax({
            type: "POST",
            url :"{:url('addSpec')}",
            data: $('#add').serialize(),
            async: true,
            beforeSend: function(){
                openloading("STATIC_PATH/assets/img/loading-2.gif");
            },
            success: function(data) {
                closeloading();
                if (data.code) {
                    swal({
            		    'text':data.msg,
						'confirmButtonText': '{:lang(\'確認\')}',
            		    'confirmButtonColor':'#e07a0a',
						'imageUrl': 'STATIC_PATH/assets/mobile/images/a-add.png',
						'imageSize': '16x16',
						'customClass': 'success'
            		}).then(function(isConfirm) {
                        location.href = data.url;
                    });
                } else {
                    swal({
						'text':data.msg,//请输入最小值、请输入最大值、内容空缺检查
						'confirmButtonText': '{:lang(\'確認\')}',
						'confirmButtonColor':'#e07a0a',
						'imageUrl': 'STATIC_PATH/assets/mobile/images/fill-content.png',
						'imageSize': '16x16',
						'customClass': 'fail'
					});
                }
            },
            error: function(request) {
                closeloading();
                swal({
					'text':'{:lang(\'頁面錯誤\')}',
					'confirmButtonText': '{:lang(\'確認\')}',
					'confirmButtonColor':'#e07a0a',
					'imageUrl': 'STATIC_PATH/assets/mobile/images/error-img.png',
					'imageSize': '16x16',
					'customClass': 'fail'
				});
            }
        });
    });
    function setSpec(){
        var selectOption = mobileSelect1.getValue();
        if(selectOption[0]['id']==0){
            $(".select-valid").show();
        }else{
            $(".select-valid").hide();
        }

        if(selectOption[0]['id']!=0){
            $(".peice-li").show();
        }else{
            $(".peice-li").hide();
        }
        $("#specId").val(selectOption[0]['id']);
        $("#specName").val(selectOption[0]['value']);
    }
    // 設置分類選項數組
    var option = [];
    option.push({id:0,value:'{:lang(\'選項組別\')}'});
  /*  {volist name="list" id="vo" key="i"}*/
    // 設置分類選項
    option.push({id:{$vo.id},value:'{$vo.spec_name}'});
   /* {/volist}*/

    var mobileSelect1 = new MobileSelect({
        trigger: '#spec', 
        title: '{:lang(\'分類名\')}選項',
        wheels: [
            {data:option,},
        ],
        callback:setSpec,
    });
</script>
</body>
</html>