<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no">
	<meta charset="UTF-8">
	<meta name="description" content="Violate Responsive Admin Template">
	<meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">
	<title>{:lang('廣告設置')}</title>
	<!-- CSS -->
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/bootstrap.min.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/mobiscroll_style.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/mobiscroll.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/mobiscroll_date.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/style.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/manage.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/css/icon.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/sweetalert2.min.css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="STATIC_PATH/assets/wxweb/js/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/sweetalert2.js"></script><!-- alert confirm插件 -->
    <script src="STATIC_PATH/assets/mobile/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/mobiscroll_date.js"></script>
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/mobiscroll.js"></script>
    <script type="text/javascript" src="STATIC_PATH/assets/js/loading.js"></script>
    <style>
        html,body{
            height:100%;
            background: #eeeeee;
        }
    </style>
</head>
<body>
<div class="container-div" id="main" style="height:240px;">
    <div class="order-main">
        <div class="title-div">
            <div class="title" onclick="javascript:location.href='/index.php/mobile/manage/index.html';">
                <i class="fab-left"></i>{:lang('廣告設置')}
            </div>
        </div>
        <div class="owner-avatar" onclick="window.location.href='{:url(\'manage/index\')}'">
            <div class="owner-name" style="float:left;font-weight:bold;width:85%">{:lang('上傳廣告圖')} <span style="color:#aaaaaa">(建議尺寸：750 * 480)</span></div>
            <div style="float:right;width:15%">圖片</div>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-4" style=" padding-left:0">
            <img  src="STATIC_PATH/assets/wxweb/images/banner1.jpg" alt="First slide" class="img-responsive">
        </div>
        <div class="col-xs-4" style=" padding-left:0">
            <img  src="STATIC_PATH/assets/wxweb/images/banner2.jpg" alt="First slide" class="img-responsive">
        </div>
        <div class="col-xs-4" style=" padding-left:0">
            <img  src="STATIC_PATH/assets/wxweb/images/banner3.jpg" alt="First slide" class="img-responsive">
        </div>
    </div>
</div>

<div style="  height: 100px;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;background: red">
    <div>asdasdadadad</div>
</div>



</body>
</html>
