<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no">
	<meta charset="UTF-8">
	<meta name="description" content="Violate Responsive Admin Template">
	<meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">
	<title>{:lang('員工編輯')}</title>
	<!-- CSS -->
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/jquery.core.image.upload.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/mobileSelect.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/sweetalert2.min.css">
	<link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/reset.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/bootstrap.min.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/style.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/css/icon.css"><!-- 图标库css-->

    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/jquery.core.image.upload.js"></script> <!-- File Upload -->
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/mobileSelect.min.js"></script>
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/sweetalert2.js"></script><!-- alert confirm插件 -->
    <script src="STATIC_PATH/assets/mobile/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="STATIC_PATH/assets/js/loading.js"></script>
</head>
<body>
<div class="container">
    <div class="head-div">
        <i class="fab-left" onclick="javascript:location.href='{:url(\'manage/staff\')}';"></i>
        <div class="title">{:lang('員工編輯')}</div>
    </div>
	<div >
        <div class="register-scroll">
    		<form  action="{:url('editstaff')}" method="post" id="edit">
                <div class="register-info">
                    <div class="register-input-li-long">
                      <input name="id" type="hidden" value="{$staff.zid}">
                        <div class="register-long-label">{:lang('員工名稱')}：</div><input name="nick" type="text" value="{$staff.nick}" maxlength="20">
                    </div>
                    <div class="register-input-li-long">
                        <div class="register-long-label">{:lang('員工電郵')}：</div><input name="mail" type="text" value="{$staff.email}" maxlength="30">
                    </div>
                </div>
            </form>
        </div>
        <div class="member-cate-add-btn">{:lang('確認')}</div>
	</div>
</div>
	
<script type="text/javascript">
	var hrt = $(window).height(); //获取当前可视区域的高度存到hrt的变量里。
	window.onload=function(){ //在页面整体加载完毕时
		$('body').height(hrt+'px'); //把获取到的高度直接赋值给body避免虚拟键盘改变页面样式
	};
	$('.member-cate-add-btn').click(function () {
        $.ajax({
            type: "POST",
            url : "{:url('editstaff')}",
            data: $('#edit').serialize(),
            async: true,
            beforeSend: function(){
                openloading("STATIC_PATH/assets/img/loading-2.gif");
            },
            success: function(data) {
                closeloading();
                if (data.code) {
                    swal({
            		    'text':data.msg,
						'confirmButtonText': '{:lang(\'確認\')}',
            		    'confirmButtonColor':'#e07a0a',
						'imageUrl': 'STATIC_PATH/assets/mobile/images/a-user-edit.png',
						'imageSize': '16x16',
						'customClass': 'success'
            		}).then(function(isConfirm) {
                        location.href = data.url;
                    });
                } else {
                    swal({
						'text':data.msg,
						'confirmButtonText': '{:lang(\'確認\')}',
						'confirmButtonColor':'#e07a0a',
						'imageUrl': 'STATIC_PATH/assets/mobile/images/fill-content.png',
						'imageSize': '16x16',
						'customClass': 'fail'
					});
                }
            },
            error: function(request) {
                closeloading();
                swal({
					'text':'{:lang(\'頁面錯誤\')}',
					'confirmButtonText': '{:lang(\'確認\')}',
					'confirmButtonColor':'#e07a0a',
					'imageUrl': 'STATIC_PATH/assets/mobile/images/error-img.png',
					'imageSize': '16x16',
					'customClass': 'fail'
				});
            }
        });
    });
</script>
</body>
</html>