<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">
    <meta name="description" content="Violate Responsive Admin Template">
    <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">
    <title>{:lang('API金鑰')}</title>
    <!-- CSS -->
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/sweetalert2.min.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/reset.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/bootstrap.min.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/style.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/css/icon.css"><!-- 图标库css-->

    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/sweetalert2.js"></script><!-- alert confirm插件 -->
    <script src="STATIC_PATH/assets/mobile/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="STATIC_PATH/assets/js/md5.js"></script>
    <script type="text/javascript" src="STATIC_PATH/assets/js/loading.js"></script>
</head>
<body>
<div class="container">
    <div class="head-div">
        <i class="fab-left" onclick="javascript:location.href='{:url(\'manage/index\')}';"></i>
        <div class="title">{:lang('API金鑰')}</div>
    </div>
    <div>
        <div class="register-scroll">
            <form action="{:url('getKey')}" method="post" id="getKey">
                <div class="member-cate-li interface">
                    <div class="member-cate-add-name">secretKey</div>
                    <input name="key" type="text" maxlength="32" value="{$contact['secretKey']}" id="key">
                </div>
            </form>
        </div>
        <div class="getkey-btn">
            <div class="get-new-key">{:lang('隨機生成密鑰')}</div>
            <div class="member-cate-add-btn interface-key">{:lang('確認')}</div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var hrt = $(window).height(); //获取当前可视区域的高度存到hrt的变量里。
    window.onload = function () { //在页面整体加载完毕时
        $('body').height(hrt + 'px'); //把获取到的高度直接赋值给body避免虚拟键盘改变页面样式
    };
    //随机生成secrekey
    $('.get-new-key').click(function () {
        var number = '{$contact.number}';
        var time = new Date().getTime();
        var key = hex_md5(number + time);
        $("#key").val(key);
    });
    $('.member-cate-add-btn').click(function () {
        $.ajax({
            type: "POST",
            url: '{:url("getKey")}',
            data: $('#getKey').serialize(),
            async: true,
            beforeSend: function () {
                openloading("STATIC_PATH/assets/img/loading-2.gif");
            },
            success: function (data) {
                closeloading();
                if (data.code) {
                    swal({
                        'text': data.msg,
                        'confirmButtonText': '{:lang(\'確認\')}',
                        'confirmButtonColor': '#e07a0a',
                        'imageUrl': 'STATIC_PATH/assets/mobile/images/a-modify.png',
                        'imageSize': '16x16',
                        'customClass': 'success'
                    }).then(function (isConfirm) {
                        location.href = data.url;
                    });
                } else {
                    swal({
                        'text': data.msg,
                        'confirmButtonText': '{:lang(\'確認\')}',
                        'confirmButtonColor': '#e07a0a',
                        'imageUrl': 'STATIC_PATH/assets/mobile/images/fill-content.png',
                        'imageSize': '16x16',
                        'customClass': 'fail'
                    });
                }
            },
            error: function (request) {
                closeloading();
                swal({
                    'text': '{:lang(\'頁面錯誤\')}',
                    'confirmButtonText': '{:lang(\'確認\')}',
                    'confirmButtonColor': '#e07a0a',
                    'imageUrl': 'STATIC_PATH/assets/mobile/images/error-img.png',
                    'imageSize': '16x16',
                    'customClass': 'fail'
                });
            }
        });
    });
</script>
</body>
</html>