<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<meta name="format-detection" content="telephone=no">
	<meta charset="UTF-8">
	<meta name="description" content="Violate Responsive Admin Template">
	<meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">
	<title>修改資料</title>
	<!-- CSS -->
	<link rel="stylesheet" href="STATIC_PATH/assets/court/css/style.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/intial.css">
  <link rel="stylesheet" href="STATIC_PATH/assets/court/css/mobileSelect.css">
  <link rel="stylesheet" href="STATIC_PATH/assets/court/css/sweetalert2.min.css">
  <link rel="stylesheet" href="STATIC_PATH/assets/court/css/reset.css">
	<script type="text/javascript" src="STATIC_PATH/assets/court/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/camera.js/hammer.min.js" ></script>
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/camera.js/lrz.all.bundle.js" ></script>
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/camera.js/iscroll-zoom-min.js" ></script>
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/camera.js/PhotoClip.js" ></script>
  <script type="text/javascript" src="STATIC_PATH/assets/court/js/mobileSelect.min.js"></script>
<script type="text/javascript" src="STATIC_PATH/assets/court/js/sweetalert2.js"></script><!-- alert confirm插件 -->
    <script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key={:config('QQLbs.Key')}"></script> <!-- 腾讯地图插件 -->
</head>
<body>
<div class="title-div">
	<img class="fanhui" src="STATIC_PATH/assets/wxweb/images/fanhui.png" onclick="javascript:history.back(-1);"/>
	<div class="title">
		美食廣場資料
	</div>
</div>
<div class="container">
	<div class="main">
		<form  action="{:url('court')}" method="post" id="court">
            <div class="food-input-li">
                <div class="food-cate-label">名稱：</div><input name="name" type="text" value="{$court.name}">
            </div>
            <div class="food-input-li">
                <div class="food-cate-label">聯繫方法：</div><input name="phone" type="text" value="{$court.linkMans}">
            </div>
            <div class="food-input-li">
                <div class="food-cate-label">費率</div><input type="text" value="{$court.rate}%" readonly="readonly">
            </div>
            <div class="food-input-li">
                <div class="food-cate-label">結算週期</div><input type="text" value="T+{$court.cycle}" readonly="readonly">
            </div>
            <div class="food-input-li img-div">
                <div class="food-cate-label f-l">餐廳logo</div>
                <div class="food-cate-img f-r" id="upload-logo">
                    <img src="{$court.logoUrl}" class="food-img" id="show-logo">
                    <input type="hidden" name="pic_path" id="logo_path" value="{$court.logoUrl}">
                </div>
                <div class="upload-img f-r">建議分辨率68*68</div>
            </div>
            <div class="food-input-li img-div">
                <div class="food-cate-label f-l">餐廳背景圖</div>
                <div class="food-cate-img f-r b-img" id="upload-img">
                    <img src="{$court.bgImageUrl}" class="food-img" id="show-img">
                    <input type="hidden" name="img_path" id="img_path" value="{$court.bgImageUrl}">
                </div>
                <div class="upload-img f-r">建議分辨率750*438</div>
            </div>
            <div class="register-info" style="float: left;">
                <div class="food-input-li">
                    <div class="register-label">地址<span style="color:#ce3815;">*</span></div>
                    <input name="address" type="text" maxlength="80" id="address" value="{$court.address}">
                    <input name="Latitude" type="hidden" maxlength="64" id="Latitude" value="{$court.latitude}">
                    <input name="Longitude" type="hidden" maxlength="64" id="Longitude" value="{$court.longitude}">
                </div>
            </div>
            <div class="register-info" style="float: left;">
                <div class="map" id="map"></div>
            </div>
            <div class="member-cate-add-btn member-btn">確&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;認</div>
        </form>
   
	</div>
</div>
<div class="clipbg clipbg-img displaynone">
    <div id="clipArea1"></div>
    <div class="loading loading-img displaynone">正在载入图片...</div>
    <div class="footer">
    <dl>
        <dd>打开相册<input type="file" id="img" accept="image/*" ></dd>
        <dd id="clipBtn-img">完成裁剪</dd>
    </dl>
    <div class="back back-img">取消</div>
    </div>
</div>

<div class="clipbg clipbg-logo displaynone">
    <div id="clipArea2"></div>
    <div class="loading loading-logo displaynone">正在载入图片...</div>
    <div class="footer">
    <dl>
        <dd>打开相册<input type="file" id="logo" accept="image/*" ></dd>
        <dd id="clipBtn-logo">完成裁剪</dd>
    </dl>
    <div class="back back-logo">取消</div>
    </div>
</div>
<div id="searchMapDiv">
    <div class="row content">
        <div class="row head">
            <label class="tit">搜索地址</label>
            <div class="cancel" onclick='$("#searchMapDiv").slideUp();'>取消</div>
        </div>
        <div class="row input">
            <input type="text" id="search" oninput="getResult()" placeholder="输入搜索地址">
        </div>
        <div id="infoDiv" class="row">
        </div>
    </div>
</div>
<script type="text/javascript">
    var submitInfo = true;
	var hrt = $(window).height(); //获取当前可视区域的高度存到hrt的变量里。
	window.onload=function(){ //在页面整体加载完毕时
		$('body').height(hrt+'px'); //把获取到的高度直接赋值给body避免虚拟键盘改变页面样式
	};
	$('.member-cate-add-btn').click(function () {
        if(submitInfo){
            $.ajax({
              
              type: "POST",
              url : '{:url('court')}',
              data: $('#court').serialize(),
              async: true,
                success: function(data) {
                    if (data.code) {
                        swal({
							'text':data.msg,
							'confirmButtonText': '确认',
							'confirmButtonColor':'#ea831e',
							'imageUrl': 'STATIC_PATH/assets/court/images/wancheng.png',
							'imageSize': '16x16',
							'customClass': 'success'
						}).then(function(isConfirm) {
                            location.href = data.url;
                        });
                    } else {
                        swal({
							'text':data.msg,
							'confirmButtonText': '确认',
							'confirmButtonColor':'#ea831e',
							'imageUrl': 'STATIC_PATH/assets/court/images/shanchu.png',
							'imageSize': '16x16',
							'customClass': 'fail'
						});
                    }
                },
                error: function(request) {
					swal({
						'text':'页面错误',
						'confirmButtonText': '确认',
						'confirmButtonColor':'#ea831e',
						'imageUrl': 'STATIC_PATH/assets/court/images/shanchu.png',
						'imageSize': '16x16',
						'customClass': 'fail'
					});
                }
            });
        }else{
            swal({
                'confirmButtonText': '确认',
                'text':'图片上传中,请稍后',
                'confirmButtonColor':'#ea831e',
            });
        }
    });
    $("#upload-img").click(function(){
        $(".clipbg-img").fadeIn()
    })
    $("#upload-logo").click(function(){
        $(".clipbg-logo").fadeIn()
    })

    var clipAreaImg = new  PhotoClip("#clipArea1", {
        size: [300, 174],//裁剪框大小
        outputSize:[0,0],//打开图片大小，[0,0]表示原图大小
        file: "#img",
        ok: "#clipBtn-img",
        loadStart: function() {
        //图片开始加载的回调函数。this 指向当前 PhotoClip 的实例对象，并将正在加载的 file 对象作为参数传入。（如果是使用非 file 的方式加载图片，则该参数为图片的 url）
            var size = document.getElementById("img").files[0].size;
            if(size> {:config('UploadSize.img')}){
                swal({
                    'text':'背景图片大小不能超过{:config('UploadSize.img')/1024/1024}M！',
                    'confirmButtonText': '确认',
                    'confirmButtonColor':'#e07a0a',
                    'customClass': 'default'
                });
                return false;
            }
            $(".loading-img").removeClass("displaynone");

        },
        loadComplete: function() {
        //图片加载完成的回调函数。this 指向当前 PhotoClip 的实例对象，并将图片的 <img> 对象作为参数传入。
            $(".loading-img").addClass("displaynone");

        },
        done: function(dataURL) { 
        //裁剪完成的回调函数。this 指向当前 PhotoClip 的实例对象，会将裁剪出的图像数据DataURL作为参数传入。        
            $(".clipbg-img").fadeOut();
            $("#show-img").attr("src",dataURL);
            $("#img_path").val(dataURL);
        }
    });

    var clipAreaLogo = new  PhotoClip("#clipArea2", {
        size: [120,120],//裁剪框大小
        outputSize:[0,0],//打开图片大小，[0,0]表示原图大小
        file: "#logo",
        ok: "#clipBtn-logo",
        loadStart: function() {
        //图片开始加载的回调函数。this 指向当前 PhotoClip 的实例对象，并将正在加载的 file 对象作为参数传入。（如果是使用非 file 的方式加载图片，则该参数为图片的 url）
            var size = document.getElementById("logo").files[0].size;
            if(size> {:config('UploadSize.logo')}){
                swal({
                    'text':'logo图片大小不能超过{:config('UploadSize.logo')/1024/1024}M！',
                    'confirmButtonText': '确认',
                    'confirmButtonColor':'#e07a0a',
                    'customClass': 'default'
                });
                return false;
            }
            $(".loading-logo").removeClass("displaynone");

        },
        loadComplete: function() {
        //图片加载完成的回调函数。this 指向当前 PhotoClip 的实例对象，并将图片的 <img> 对象作为参数传入。
            $(".loading-logo").addClass("displaynone");

        },
        done: function(dataURL) { 
        //裁剪完成的回调函数。this 指向当前 PhotoClip 的实例对象，会将裁剪出的图像数据DataURL作为参数传入。   
            $(".clipbg-logo").fadeOut();
            $("#show-logo").attr("src",dataURL);
            $("#logo_path").val(dataURL);
        }
    });

    $(".back-logo").click(function(){
        $(".clipbg-logo").fadeOut()
    })
    $(".back-img").click(function(){
        $(".clipbg-img").fadeOut()
    })
    function getLatlng(){
        var address = $('#address').val();
        $.ajax({
            type : 'post',
            url : '{:url('more/ted')}',
            data : {'address':address},              
            success : function(data) {
                if(data.msg.status==0){
                    setLatitude(data.msg.result.location.lat);
                    setLongitude(data.msg.result.location.lng);
                    center = new qq.maps.LatLng(Latitude,Longitude);
                    map.panTo(center);
                    deletemarket();
                    addmarker(Latitude,Longitude);
                }else{
                    swal({
                        'text':'请输入正确的地址',
                        'confirmButtonText': '确认',
                        'confirmButtonColor':'#e07a0a',
                        'imageUrl': 'STATIC_PATH/assets/mobile/images/shanchu.png',
                        'imageSize': '16x16',
                        'customClass': 'fail'
                    });
                }    
            },
            error : function() {
                swal({
                    'text':'页面错误',
                    'confirmButtonText': '确认',
                    'confirmButtonColor':'#e07a0a',
                    'imageUrl': 'STATIC_PATH/assets/mobile/images/shanchu.png',
                    'imageSize': '16x16',
                    'customClass': 'fail'
                });
            }
        });
    }
    {if!empty($court.latitude)}
    setLatitude({$court.latitude});
    {else/}
    //
    setLatitude(22.219279685846963);
    {/if}
    //

    {if!empty($court.longitude)}
    setLongitude({$court.longitude});
    {else/}
    //
    setLongitude(113.53977837265015);
    {/if}
    //
    var center = new qq.maps.LatLng(Latitude,Longitude);
    map = new qq.maps.Map(document.getElementById("map"));
    map.panTo(center);
    map.zoomTo(17);
    var marker = new qq.maps.Marker({
        position: center,
        map: map
    });

    qq.maps.event.addListener(map, 'center_changed', function() {
        var newCenter = map.getCenter();
        setLatitude(newCenter.lat);
        setLongitude(newCenter.lng);
        deletemarket();
        addmarker(Latitude,Longitude);
    });
    qq.maps.event.addListener(map,'click',function(event) {
        setLatitude(event.latLng.getLat());
        setLongitude(event.latLng.getLng());
        center = new qq.maps.LatLng(Latitude,Longitude);
        map.panTo(center);
        deletemarket();
        addmarker(Latitude,Longitude);
    });
    $('#address').click(function(){
        $("#searchMapDiv").slideDown();
        $("#search").val('');
        $("#search").focus();
    });
    function isEmpty(str){
        if(str == undefined || str == null || str == ''){
            return true;
        }
        return false;
    }
    //调用Poi检索类
    function getResult() {
        var poiText = document.getElementById("search").value;
        $('#infoDiv').html('');
        searchService.search(poiText);
    }
    var searchPois = [];
    var searchService = new qq.maps.SearchService({
        pageCapacity: 100,
        complete: function(results) {
            searchPois = results.detail.pois;
            var htmlStr = '<ul>';
            $.each(searchPois, function(i, obj){
                var name = '', address = '', phone = '';
                if(!isEmpty(obj.name)){
                    name = obj.name;
                }
                if(!isEmpty(obj.address)){
                    address = obj.address;
                }
                if(!isEmpty(obj.phone)){
                    phone = obj.phone;
                }
                htmlStr += '<li onclick="selectAddress(' + i + ')">'
                        + '<span class="title">' + name + '</span>'
                        + '<span class="address">' + address + '</span>'
                        + '<span class="tel">' + phone + '</span>'
                        + '</li>';
            });
            htmlStr += '</ul>';
            $('#infoDiv').html(htmlStr);
        }
    });
    
    function selectAddress(index){
        $("#searchMapDiv").slideUp();
        var obj = searchPois[index];
        $('input[name="address"]').val(obj.name);
        setLatitude(obj.latLng.lat);
        setLongitude(obj.latLng.lng);
        center = new qq.maps.LatLng(Latitude,Longitude);
        map.panTo(center);
        deletemarket();
        addmarker(Latitude,Longitude);
    }
    function addmarker(lat,lng){
        var markerCenter = new qq.maps.LatLng(lat,lng);
        marker = new qq.maps.Marker({
            position: markerCenter,
            map: map
        });
    }
    function deletemarket() {
        if (marker) {
            marker.setMap(null);
        }
    }
    function setLatitude(number){
        Latitude = number;
        $("#Latitude").val(Latitude);
    }
    function setLongitude(number){
        Longitude = number;
        $("#Longitude").val(Longitude);
    }
    
</script>
</body>

</html>