<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<meta name="format-detection" content="telephone=no">
	<meta charset="UTF-8">
	<meta name="description" content="Violate Responsive Admin Template">
	<meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">
	<title>修改密碼</title>
	<!-- CSS -->
	<link rel="stylesheet" href="STATIC_PATH/assets/court/css/style.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/court/css/jquery.core.image.upload.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/court/css/mobileSelect.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/court/css/sweetalert2.min.css">
	<link rel="stylesheet" href="STATIC_PATH/assets/court/css/reset.css">
	<script type="text/javascript" src="STATIC_PATH/assets/court/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="STATIC_PATH/assets/court/js/jquery.core.image.upload.js"></script> <!-- File Upload -->
    <script type="text/javascript" src="STATIC_PATH/assets/court/js/mobileSelect.min.js"></script>
    <script type="text/javascript" src="STATIC_PATH/assets/court/js/sweetalert2.js"></script><!-- alert confirm插件 -->
</head>
<body>
<div class="title-div">
	<img class="fanhui" src="STATIC_PATH/assets/wxweb/images/fanhui.png" onclick="javascript:history.back(-1);"/>
	<div class="title">
		修改密碼
	</div>
</div>
<div class="container">
	<div class="register-main">
        <div class="register-scroll">
    		<form  action="{:url('repass')}" method="post" id="repass">
                <div class="register-info">
                    <div class="register-input-li-long">
                        <div class="register-long-label">密碼：</div><input name="password" type="password" maxlength="20">
                    </div>
                    <div class="register-input-li-long">
                        <div class="register-long-label">確認密碼：</div><input name="repassword" type="password" maxlength="20">
                    </div>
                </div>
            </form>
        </div>
        <div class="member-cate-add-btn member-btn">確&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;認</div>
	</div>
</div>
	
<script type="text/javascript">
	var hrt = $(window).height(); //获取当前可视区域的高度存到hrt的变量里。
	window.onload=function(){ //在页面整体加载完毕时
		$('body').height(hrt+'px'); //把获取到的高度直接赋值给body避免虚拟键盘改变页面样式
	};
	$('.member-cate-add-btn').click(function () {
        $.ajax({
          
          type: "POST",
          url : '{:url('repass')}',
          data: $('#repass').serialize(),
          async: true,
            success: function(data) {
                if (data.code) {
                    swal({
						'text':data.msg,
						'confirmButtonText': '确认',
						'confirmButtonColor':'#ea831e',
						'imageUrl': 'STATIC_PATH/assets/court/images/wancheng.png',
						'imageSize': '16x16',
						'customClass': 'success'
					}).then(function(isConfirm) {
                        location.href = data.url;
                    });
                } else {
                    swal({
						'text':data.msg,
						'confirmButtonText': '确认',
						'confirmButtonColor':'#ea831e',
						'imageUrl': 'STATIC_PATH/assets/court/images/shanchu.png',
						'imageSize': '16x16',
						'customClass': 'fail'
					});
                }
            },
            error: function(request) {
				swal({
					'text':'页面错误',
					'confirmButtonText': '确认',
					'confirmButtonColor':'#ea831e',
					'imageUrl': 'STATIC_PATH/assets/court/images/shanchu.png',
					'imageSize': '16x16',
					'customClass': 'fail'
				});
            }
        });
    });
</script>
</body>

</html>