<!DOCTYPE html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<meta name="format-detection" content="telephone=no">
	<meta charset="UTF-8">
	<meta name="description" content="Violate Responsive Admin Template">
	<meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">
	<title>审核信息</title>
	<!-- CSS -->
	<link rel="stylesheet" href="STATIC_PATH/assets/market/css/style.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/intial.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/market/css/mobileSelect.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/market/css/sweetalert2.min.css">
	<link rel="stylesheet" href="STATIC_PATH/assets/market/css/reset.css">
	<script type="text/javascript" src="STATIC_PATH/assets/market/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/camera.js/hammer.min.js" ></script>
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/camera.js/lrz.all.bundle.js" ></script>
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/camera.js/iscroll-zoom-min.js" ></script>
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/camera.js/PhotoClip.js" ></script>
    <script type="text/javascript" src="STATIC_PATH/assets/market/js/mobileSelect.min.js"></script>
    <script type="text/javascript" src="STATIC_PATH/assets/market/js/sweetalert2.js"></script><!-- alert confirm插件 -->
	<script charset="utf-8" src="https://map.qq.com/api/js?v=2.exp&key={:config('QQLbs.Key')}"></script> <!-- 腾讯地图插件 -->
	<style>
		.container{
			padding-top: 0;
			padding-bottom: 30vw;
		}
		.member-cate-add-btn{
			z-index: 999;
		}
	</style>
</head>
<body>
<div class="container">
	<div class="register-main">
        <div class="register-scroll">
		<form  action="{:url('review')}" method="post" id="review">
            <div class="register-info">
                <input type="hidden" name="contactid" value="{$court.id}">
                <input type="hidden" name="userid" value="{$user.zid}">
                <input type="hidden" name="market" value="{$court.market}">
                <div class="register-input-li-small">
                    <div class="register-long-label">状态：</div><input type="text" value="已拒绝" readonly="readonly">
                </div>
                <div class="register-input-li-small">
                    <div class="register-long-label">原因：</div><input type="text" value="{$court.reason}" readonly="readonly">
                </div>
                <div class="register-input-li-small">
                    <div class="register-long-label">用戶名<span style="color:#ce3815;">*</span></div><input name="username" type="text" value="{$user.name}">
                </div>
                <div class="register-input-li-long">
                    <div class="register-long-label">商家編號<span style="color:#ce3815;">*</span></div><input name="number" type="text" value="{$court.number}">
                </div>
                <div class="food-input-li">
                    <div class="food-cate-label">餐廳類型<span style="color:#ce3815;">*</span></div><div class="select" id="category">{$court.cCategoryName}</div><img src="STATIC_PATH/assets/mobile/images/arrow-next.png" class="food-arrow">
                    <input type="hidden" name="categoryId" id="categoryId" value="{$court.cCategory}">
                    <input type="hidden" name="categoryName" id="categoryName" value="{$court.cCategoryName}">
                </div>
                <div class="food-input-li">
                    <div class="food-cate-label">餐廳平臺<span style="color:#ce3815;">*</span></div><div class="select" id="type">{if(!empty($type[$court['contactType']]['name']))}{$type[$court['contactType']]['name']}{/if}</div><img src="STATIC_PATH/assets/mobile/images/arrow-next.png" class="food-arrow">
                    <input type="hidden" name="typeId" id="typeId" value="{if(!empty($type[$court['contactType']]['contact_type']))}{$type[$court['contactType']]['contact_type']}{/if}">
                    <input type="hidden" name="typeName" id="typeName" value="{if(!empty($type[$court['contactType']]['name']))}{$type[$court['contactType']]['name']}{/if}">
                </div>
                <div class="register-input-li-long">
                    <div class="register-long-label">餐廳名稱<span style="color:#ce3815;">*</span></div><input name="contact" type="text" value="{$court.name}" maxlength="40">
                </div>
				<div class="food-input-li img-div">
                    <div class="food-cate-label f-l">餐廳logo</div>
                    <div class="food-cate-img f-r" id="upload-logo">
						<img src="{$court.logoUrl}" class="food-img" id="show-logo">
						<input type="hidden" name="pic_path" id="logo_path" value="{$court.logoUrl}">
					</div>
					<div class="upload-img f-r">建議分辨率68*68</div>
                </div>
                <div class="food-input-li img-div">
                    <div class="food-cate-label f-l">餐廳背景圖</div>
                    <div class="food-cate-img f-r b-img" id="upload-img">
						<img src="{$court.bgImageUrl}" class="food-img" id="show-img">
						<input type="hidden" name="img_path" id="img_path" value="{$court.bgImageUrl}">
					</div>
					<div class="upload-img f-r">建議分辨率750*438</div>
                </div>
            </div>
            <div class="register-info">
                <div class="register-input-li-small">
                    <div class="register-long-label">聯繫人：</div><input name="person" type="text" value="{$user.nick}" maxlength="20">
                </div>
                <div class="register-input-li-long">
                    <div class="register-long-label">聯繫電話：</div><input name="phone" type="text" value="{$court.linkMans}" maxlength="20">
                </div>
                <div class="register-input-li-long">
                    <div class="register-long-label">銀行賬號</div><input name="bankNumber" type="text" value="{$court.account_number}" maxlength="40">
                </div>
                <div class="register-input-li-long">
                    <div class="register-long-label">開戶人姓名</div><input name="bankUser" type="text" value="{$court.account_name}" maxlength="20">
                </div>
                <div class="food-input-li">
                    <div class="food-cate-label">開戶銀行</div><div class="select" id="bank">{$court.bank_name}</div><img src="STATIC_PATH/assets/mobile/images/arrow-next.png" class="food-arrow">
                    <input type="hidden" name="bankId" id="bankId" value="{$court.bank_id}">
                    <input type="hidden" name="bankName" id="bankName" value="{$court.bank_name}">
                </div>
                <div class="register-input-li-small">
                    <div class="register-long-label">郵箱<span style="color:#ce3815;">*</span></div><input name="mail" type="text" value="{$user.email}" maxlength="20">
                    <div class="register-error-div">
                        <img class="register-error-img" src="STATIC_PATH/assets/mobile/images/error.png">
                        <div class="register-error-span">格式錯誤</div>
                    </div>
                </div>
                <div class="register-textarea-li-small">
                    <div class="register-small-textarea-label">備註：</div><textarea name="detail">{$court.remark}</textarea>
                </div>
            </div>
			<div class="register-info">
                <div class="food-input-li">
                    <div class="register-label">地址<span style="color:#ce3815;">*</span></div>
                    <input name="address" type="text" value="{if(!empty($court.address))}{$court.address}{/if}" maxlength="80" id="address" readonly="readonly">
                    <input name="Latitude" type="hidden" maxlength="64" id="Latitude">
                    <input name="Longitude" type="hidden" maxlength="64" id="Longitude">
                </div>
            </div>
            <div class="register-info">
                <div class="map" id="map"></div>
            </div>
        </form>
        </div>
        <div class="member-cate-add-btn">重新提交</div>
	</div>
    {include file="common:footer"}
</div>

<div class="clipbg clipbg-img displaynone">
    <div id="clipArea1"></div>
    <div class="loading loading-img displaynone">正在载入图片...</div>
    <div class="footer">
    <dl>
        <dd>打开相册<input type="file" id="img" accept="image/*" ></dd>
        <dd id="clipBtn-img">完成裁剪</dd>
    </dl>
    <div class="back back-img">取消</div>
    </div>
</div>

<div class="clipbg clipbg-logo displaynone">
    <div id="clipArea2"></div>
    <div class="loading loading-logo displaynone">正在载入图片...</div>
    <div class="footer">
    <dl>
        <dd>打开相册<input type="file" id="logo" accept="image/*" ></dd>
        <dd id="clipBtn-logo">完成裁剪</dd>
    </dl>
    <div class="back back-logo">取消</div>
    </div>
</div>
<div id="searchMapDiv">
	<div class="row content">
		<div class="row head">
			<label class="tit">搜索地址</label>
			<div class="cancel" onclick='$("#searchMapDiv").slideUp();'>取消</div>
		</div>
		<div class="row input">
			<input type="text" id="search" oninput="getResult()" placeholder="输入搜索地址">
		</div>
		<div id="infoDiv" class="row">
		</div>
	</div>
</div>
<script>
    $("#upload-img").click(function(){
        $(".clipbg-img").fadeIn()
    })
    $("#upload-logo").click(function(){
        $(".clipbg-logo").fadeIn()
    })
    var clipAreaImg = new  PhotoClip("#clipArea1", {
        size: [300, 174],//裁剪框大小
        outputSize:[0,0],//打开图片大小，[0,0]表示原图大小
        file: "#img",
        ok: "#clipBtn-img",
        loadStart: function() {
        //图片开始加载的回调函数。this 指向当前 PhotoClip 的实例对象，并将正在加载的 file 对象作为参数传入。（如果是使用非 file 的方式加载图片，则该参数为图片的 url）
            var size = document.getElementById("img").files[0].size;
            if(size>{:config('UploadSize.img')}){
                swal({
					'confirmButtonText': '确认',
                    'text':'背景图片大小不能超过{:config('UploadSize.img')/1024/1024}M！',
                    'confirmButtonColor':'#ea831e',
					'customClass': 'default'
                });
                return false;
            }
            $(".loading-img").removeClass("displaynone");

        },
        loadComplete: function() {
        //图片加载完成的回调函数。this 指向当前 PhotoClip 的实例对象，并将图片的 <img> 对象作为参数传入。
            $(".loading-img").addClass("displaynone");

        },
        done: function(dataURL) { 
        //裁剪完成的回调函数。this 指向当前 PhotoClip 的实例对象，会将裁剪出的图像数据DataURL作为参数传入。        
            $(".clipbg-img").fadeOut();
            $("#show-img").attr("src",dataURL);
            $("#img_path").val(dataURL);
        }
    });

    var clipAreaLogo = new  PhotoClip("#clipArea2", {
        size: [120,120],//裁剪框大小
        outputSize:[0,0],//打开图片大小，[0,0]表示原图大小
        file: "#logo",
        ok: "#clipBtn-logo",
        loadStart: function() {
        //图片开始加载的回调函数。this 指向当前 PhotoClip 的实例对象，并将正在加载的 file 对象作为参数传入。（如果是使用非 file 的方式加载图片，则该参数为图片的 url）
            var size = document.getElementById("logo").files[0].size;
            if(size> {:config('UploadSize.logo')}){
                swal({
					'confirmButtonText': '确认',
                    'text':'logo图片大小不能超过{:config('UploadSize.logo')/1024/1024}M！',
                    'confirmButtonColor':'#ea831e',
					'customClass': 'default'
                });
                return false;
            }
            $(".loading-logo").removeClass("displaynone");

        },
        loadComplete: function() {
        //图片加载完成的回调函数。this 指向当前 PhotoClip 的实例对象，并将图片的 <img> 对象作为参数传入。
            $(".loading-logo").addClass("displaynone");

        },
        done: function(dataURL) { 
        //裁剪完成的回调函数。this 指向当前 PhotoClip 的实例对象，会将裁剪出的图像数据DataURL作为参数传入。   
            $(".clipbg-logo").fadeOut();
            $("#show-logo").attr("src",dataURL);
            $("#logo_path").val(dataURL);
        }
    });

    $(".back-logo").click(function(){
        $(".clipbg-logo").fadeOut()
    })
    $(".back-img").click(function(){
        $(".clipbg-img").fadeOut()
    });
	
	setLatitude(22.219279685846963);
    setLongitude(113.53977837265015);
    var center = new qq.maps.LatLng(Latitude,Longitude);
    map = new qq.maps.Map(document.getElementById("map"));
    map.panTo(center);
    map.zoomTo(17);
    var marker = new qq.maps.Marker({
        position: center,
        map: map
    });

    qq.maps.event.addListener(map, 'center_changed', function() {
        var newCenter = map.getCenter();
        setLatitude(newCenter.lat);
        setLongitude(newCenter.lng);
        deletemarket();
        addmarker(Latitude,Longitude);
    });
    qq.maps.event.addListener(map,'click',function(event) {
        setLatitude(event.latLng.getLat());
        setLongitude(event.latLng.getLng());
        center = new qq.maps.LatLng(Latitude,Longitude);
        map.panTo(center);
        deletemarket();
        addmarker(Latitude,Longitude);
    });
	$('#address').click(function(){
		$("#searchMapDiv").slideDown();
		$("#search").val('');
		$("#search").focus();
	});
	function isEmpty(str){
		if(str == undefined || str == null || str == ''){
			return true;
		}
		return false;
	}
	//调用Poi检索类
	function getResult() {
		var poiText = document.getElementById("search").value;
		$('#infoDiv').html('');
		searchService.search(poiText);
	}
	var searchPois = [];
	var searchService = new qq.maps.SearchService({
		pageCapacity: 100,
		complete: function(results) {
			searchPois = results.detail.pois;
			var htmlStr = '<ul>';
			$.each(searchPois, function(i, obj){
				var name = '', address = '', phone = '';
				if(!isEmpty(obj.name)){
					name = obj.name;
				}
				if(!isEmpty(obj.address)){
					address = obj.address;
				}
				if(!isEmpty(obj.phone)){
					phone = obj.phone;
				}
				htmlStr += '<li onclick="selectAddress(' + i + ')">'
						+ '<span class="title">' + name + '</span>'
						+ '<span class="address">' + address + '</span>'
						+ '<span class="tel">' + phone + '</span>'
						+ '</li>';
			});
			htmlStr += '</ul>';
			$('#infoDiv').html(htmlStr);
		}
	});
	
	function selectAddress(index){
		$("#searchMapDiv").slideUp();
		var obj = searchPois[index];
		$('input[name="address"]').val(obj.name);
		setLatitude(obj.latLng.lat);
		setLongitude(obj.latLng.lng);
		center = new qq.maps.LatLng(Latitude,Longitude);
		map.panTo(center);
		deletemarket();
		addmarker(Latitude,Longitude);
	}
    function addmarker(lat,lng){
        var markerCenter = new qq.maps.LatLng(lat,lng);
        marker = new qq.maps.Marker({
            position: markerCenter,
            map: map
        });
    }
    function deletemarket() {
        if (marker) {
            marker.setMap(null);
        }
    }
    function setLatitude(number){
        Latitude = number;
        $("#Latitude").val(Latitude);
    }
    function setLongitude(number){
        Longitude = number;
        $("#Longitude").val(Longitude);
    }
	
</script>
<script type="text/javascript">
    var submitInfo = true;
    var hrt = $(window).height(); //获取当前可视区域的高度存到hrt的变量里。
    window.onload=function(){ //在页面整体加载完毕时
        $('body').height(hrt+'px'); //把获取到的高度直接赋值给body避免虚拟键盘改变页面样式
    };
    $('.member-cate-add-btn').click(function () {
        if(submitInfo){
            $.ajax({
                
                type: "POST",
                url : '{:url('courtOrder')}',
                data: $('#review').serialize(),
                async: true,
                success: function(data) {
                    if (data.code) {
                        swal({
							'text':data.msg,
							'confirmButtonText': '确认',
							'confirmButtonColor':'#ea831e',
							'imageUrl': 'STATIC_PATH/assets/market/images/wancheng.png',
							'imageSize': '16x16',
							'customClass': 'success'
						}).then(function(isConfirm) {
                            location.href = data.url;
                        });
                    } else {
						swal({
							'text':data.msg,
							'confirmButtonText': '确认',
							'confirmButtonColor':'#ea831e',
							'imageUrl': 'STATIC_PATH/assets/market/images/shanchu.png',
							'imageSize': '16x16',
							'customClass': 'fail'
						});
                    }
                },
                error: function(request) {
					swal({
						'text':'页面错误',
						'confirmButtonText': '确认',
						'confirmButtonColor':'#ea831e',
						'imageUrl': 'STATIC_PATH/assets/market/images/shanchu.png',
						'imageSize': '16x16',
						'customClass': 'fail'
					});
                }
            });
        }else{
            swal({
                'text':'图片上传中,请稍后',
                'confirmButtonColor':'#ea831e',
            });
        }
    });
    function setCategory(){
        var selectOption = mobileSelect1.getValue();
        $("#categoryId").val(selectOption[0]['id']);
        $("#categoryName").val(selectOption[0]['value']);
    }
    function setType(){
        var selectOption = mobileSelect2.getValue();
        $("#typeId").val(selectOption[0]['id']);
        $("#typeName").val(selectOption[0]['value']);
    }
    function setBank(){
        var selectOption = mobileSelect3.getValue();
        $("#bankId").val(selectOption[0]['id']);
        $("#bankName").val(selectOption[0]['value']);
    }
    // 設置分類選項數組
    var option = [];
    var types = [];
    var bank = [];
    // 設置默認值名稱
    var positionKey = 0;
    var typeKey = 0;
    var positionBank = 0;
    {volist name="category" id="vo" key="i"}
    // 設置分類選項
    option.push({id:{$vo.id},value:'{$vo.name}'});
    {if($vo.id==$court.cCategory)}
    // 設置默認值
    positionKey = {$key};
    {/if}
    {/volist}
    //分类组

    var typeNum = 0;
    {volist name="type" id="vo"}
    // 設置分類選項
    types.push({id:{$vo.contact_type},value:'{$vo.name}'});
    {if($vo.contact_type==$court.contactType)}
    // 設置默認值
    typeKey = typeNum;
    {/if}
    typeNum += 1;
    {/volist}

    {volist name="bank" id="vo" key="i"}
    // 設置分類選項
    bank.push({id:{$vo.id},value:'{$vo.bankname}'});
    {if($vo.id==$court.bank_id)}
    // 設置默認值
    positionBank = {$key};
    {/if}
    {/volist}

    var mobileSelect1 = new MobileSelect({
        trigger: '#category', 
        title: '餐廳類型',  
        wheels: [
            {data:option,},
        ],
        callback:setCategory,
        position:[positionKey], //初始化定位
    });
    var mobileSelect2 = new MobileSelect({
        trigger: '#type', 
        title: '餐廳平臺',  
        wheels: [
            {data:types,},
        ],
        callback:setType,
        position:[typeKey], //初始化定位
    });
    var mobileSelect3 = new MobileSelect({
        trigger: '#bank', 
        title: '開戶銀行',  
        wheels: [
            {data:bank,},
        ],
        callback:setBank,
        position:[positionBank] //初始化定位
    });
</script>
</body>

</html>