<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">
    <meta name="description" content="Violate Responsive Admin Template">
    <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">
    <title>{:lang('订单统计')}</title>
    <!-- CSS -->
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/style.css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="STATIC_PATH/assets/wxweb/js/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="STATIC_PATH/assets/wxweb/js/bootstrap.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="STATIC_PATH/assets/wxweb/css/bootstrap.min.css">
    <link href="STATIC_PATH/assets/wxweb/css/menu.css" rel="stylesheet">
    <link href="STATIC_PATH/assets/wxweb/css/complete.css" rel="stylesheet">
</head>
<body>

<div class="container-div">
    <div class="head-div">
        <img class="fanhui" src="/static/assets/wxweb/images/fanhui.png" onclick="javascript:location.href='/index.php/mobile/order/index.html';">
        <div class="title">
            <span>{:lang('订单统计')}</span>
        </div>
    </div>
    {include file="common:footer"}
</div>
</body>

</html>