<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
	<meta name="format-detection" content="telephone=no">
	<meta charset="UTF-8">
	<meta name="description" content="Violate Responsive Admin Template">
	<meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">
	<title>{:lang('忘記密碼')}</title>
	<!-- CSS -->
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/intial.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/mobileSelect.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/sweetalert2.min.css">
	<link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/reset.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/bootstrap.min.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/mobile/css/style.css">
    <link rel="stylesheet" href="STATIC_PATH/assets/css/icon.css"><!-- 图标库css-->

	<script type="text/javascript" src="STATIC_PATH/assets/mobile/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/camera.js/hammer.min.js" ></script>
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/camera.js/lrz.all.bundle.js" ></script>
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/camera.js/iscroll-zoom-min.js" ></script>
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/camera.js/PhotoClip.js" ></script>
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/mobileSelect.min.js"></script>
    <script type="text/javascript" src="STATIC_PATH/assets/mobile/js/sweetalert2.js"></script><!-- alert confirm插件 -->
	<script src="STATIC_PATH/assets/mobile/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="STATIC_PATH/assets/js/loading.js"></script>
</head>
<body>
<div class="container-div">
    <div class="title-div">
        <div class="title" onclick="javascript:location.href='{:url(\'login/index\')}';">
            <i class="fab-left"></i>{:lang('忘記密碼')}
        </div>
    </div>
	<div class="text-center">
        <div class="register-scroll">
		<form  action="{:url('reset')}" method="post" id="reset">
            <div class="register-info">
                <div class="register-li">
                    <div class="register-label">{:lang('用戶名稱')}</div><input name="username" type="text">
                </div>
                <div class="register-line"></div>
                <div class="register-li">
                    <div class="register-label">{:lang('電郵地址')}</div><input name="email" type="text">
                </div>
            </div>
        </form>
        </div>
        <div class="member-cate-add-btn">{:lang('重置密碼')}</div>
	</div>
</div>
<script type="text/javascript">
	var hrt = $(window).height(); //获取当前可视区域的高度存到hrt的变量里。
	window.onload=function(){ //在页面整体加载完毕时
		$('body').height(hrt+'px'); //把获取到的高度直接赋值给body避免虚拟键盘改变页面样式
	};
	$('.member-cate-add-btn').click(function () {
        $.ajax({
          type: "POST",
          url : '{:url(\'reset\')}',
          data: $('#reset').serialize(),
          beforeSend: function(){
              openloading("STATIC_PATH/assets/img/loading-2.gif");
          },
          async: true,
            success: function(data) {
                closeloading();
                if (data.code) {
                    swal({
            		    'text':data.msg,
						'confirmButtonText': '{:lang(\'確認\')}',
            		    'confirmButtonColor':'#e07a0a',
						'imageUrl': 'STATIC_PATH/assets/mobile/images/edit-ful.png',
						'imageSize': '16x16',
						'customClass': 'success'
            		}).then(function(isConfirm) {
                        location.href = data.url;
                    });
                } else {
                    swal({
						'text':data.msg,
						'confirmButtonText': '{:lang(\'確認\')}',
						'confirmButtonColor':'#e07a0a',
						'imageUrl': 'STATIC_PATH/assets/mobile/images/fill-content.png',
						'imageSize': '16x16',
						'customClass': 'fail'
					});
                }
            },
            error: function(request) {
                closeloading();
                swal({
					'text':'{:lang(\'頁面錯誤\')}',
					'confirmButtonText': '{:lang(\'確認\')}',
					'confirmButtonColor':'#e07a0a',
					'imageUrl': 'STATIC_PATH/assets/mobile/images/error-img.png',
					'imageSize': '16x16',
					'customClass': 'fail'
				});
            }
        });
    });
</script>
<script type="text/javascript" src="STATIC_PATH/assets/js/scale.js"></script>
</body>

</html>