{layout name="layout" /}
<!-- Content -->
<section id="content" class="container">
	<!-- Breadcrumb -->
	{include file="public/breadcrumb"/}
	<script src="{$Think.config.Houtai}js/jquery-3.3.1.min.js"></script>  
	<h4 class="page-title b-0">佣金分組列表</h4>
	<div class="listview list-container">
		<header class="listview-header media">
			<ul class="list-inline pull-right m-t-5 m-b-0 hidden">
				<li>
					<a href="" title="Previous" class="tooltips">
							<i class="sa-list-back"></i>
					</a>
				</li>
				<li>
					<a href="" title="Next" class="tooltips">
						<i class="sa-list-forwad"></i>
					</a>
				</li>
			</ul>
			<ul class="list-inline list-mass-actions pull-left">
				<li>
					<a data-toggle="modal" href="{:url('Commission/add')}" title="添加佣金分組" class="tooltips">
						<i class="sa-list-add"></i>
					</a>
				</li>
			</ul>
		</header>
		<!-- <script type="text/javascript">  
		    //页面加载完成后初始化select2控件  
		    $(function () {  
				$("#contact").select2({
				    language: {
				        noResults: function (params) {
				            return "没有该分类";
				        }
				    }
				});
			});
		</script>  -->
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">

					<div class="panel-body">

						<div class="table-responsive">
							<table class="table">
								<tr>
									<th>ID</th>
									<th>佣金分組名稱</th>
									<th>佣金比例</th>
									<th>店鋪數量區間</th>
									<th>狀態</th>
									<th>操作</th>
								</tr>
								{volist name="commission" id="vo"}
								<tr>
									<td class="text-left">{$vo.id}</td>
									<td>{$vo.name}</td>
									<td>{$vo.percent}</td>
									<td>{$vo.startNum}-{$vo.endNum}</td>
									{if($vo.disable==1)}
									<td>啟用</td>
									{elseif($vo.disable==0)}
									<td>禁用</td>
									{else}
									<td>錯誤狀態</td>
									{/if}
									<td>
										<a class="btn btn-xs btn-default" href="{:url('Commission/edit',['id'=>$vo['id']])}">编辑</a>
										<div class="btn btn-xs btn-default delete" onclick="href_ajax('{:url('Commission/del',['id'=>$vo['id']])}')">删除</div>
									</td>
								</tr>
								{/volist}
							</table>
						</div>
					</div>
					<div class="media panel-footer text-center">
						{$pages}
					</div>

				</div>
			</div>
		</div>
	</div>
</section>