      <!-- Javascript Libraries -->
        <!-- Bootstrap -->

        <script type="text/javascript" src="STATIC_PATH/assets/js/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="STATIC_PATH/assets/js/jquery.form.min.js"></script>
        <!-- <script src="{$Think.config.Houtai}js/jquery.min.js"></script>   -->
        <script src="{$Think.config.Houtai}js/select2.min.js"></script>
        <script src="{$Think.config.Houtai}js/bootstrap.min.js"></script>
        
        <!--  Form Related -->
        <script src="{$Think.config.Houtai}js/icheck.js"></script> <!-- Custom Checkbox + Radio -->
        
        <!-- UX -->
        <script src="{$Think.config.Houtai}js/scroll.min.js"></script> <!-- Custom Scrollbar -->
          <script src="{$Think.config.Houtai}js/fileupload.min.js"></script> <!-- File Upload -->
        <!-- Other -->
        <script src="{$Think.config.Houtai}js/calendar.min.js"></script> <!-- Calendar -->
        <script src="{$Think.config.Houtai}js/feeds.min.js"></script> <!-- News Feeds -->
        
        
        <!-- All JS functions -->
        <script src="{$Think.config.Houtai}js/functions.js"></script>
        <script src="{$Think.config.Houtai}js/include-function.js"></script>
        <script type="text/javascript" src="STATIC_PATH/assets/js/summernote.min.js"></script><!-- 移动端富文本 -->
        <script type="text/javascript" src="STATIC_PATH/assets/js/lang/summernote-zh-CN.min.js"></script><!-- 移动端富文本 -->