{layout name="layout" /}

<!-- Content -->
<section id="content" class="container">
	<!-- Breadcrumb -->
	{include file="public/breadcrumb"/}
	<script src="{$Think.config.Houtai}js/jquery-3.3.1.min.js"></script>  
	<h4 class="page-title b-0">机构添加</h4>

	<div class="listview list-container">
		<!-- <header class="listview-header media">
			<ul class="list-inline list-mass-actions pull-left">
				<li>
					<a data-toggle="modal" href="{:url('Mechanism/add')}" title="Add" class="tooltips">
						<i class="sa-list-add"></i>
					</a>
				</li>

				<li class="show-on" style="display: none;">
					<a href="" title="Delete" class="tooltips">
						<i class="sa-list-delete"></i>
					</a>
				</li>
			</ul>
			<div class="clearfix"></div>
		</header> -->

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-body">
						<div class="row">
							<div class="col-sm-8">
								<form action="{:url('Mechanism/add')}" class="form-horizontal ajax-form" method="post" enctype="multipart/form-data" id="add">
									<div id="contact_list">
										<div class="form-group">
											<label for="inputname" class="col-sm-3 control-label">机构信息</label>
										</div>
									</div>
									<div class="form-group" style="padding-top: 5px;border-top: 1px #ccc solid;">
										<label for="inputname" class="col-sm-3 control-label">机构名稱<span style="color:#CE3815;">*</span></label>
										<div class="col-sm-5">
											<input type="text" class="form-control" name="name" id="name" value="" placeholder="机构名稱">
										</div>
									</div>

									<div id="contact_list">
										<div class="form-group">
											<label for="inputname" class="col-sm-3 control-label">佣金分组<span style="color:#CE3815;">*</span></label>
											<div class="col-sm-5">
												<select id="commission" class="form-control select2" name="commission" id="commission">  
												    <option value="">请选择</option>
													{volist name="commission" id="vo"}
													<option value="{$vo.id}">{$vo.name}</option>
													{/volist} 
												</select>
											</div>
										</div>
									</div>
									<div id="contact_list">
										<div class="form-group">
											<label for="inputname" class="col-sm-3 control-label">主账号信息</label>
										</div>
									</div>
									<div class="form-group" style="padding-top: 5px;border-top: 1px #ccc solid;">
										<label for="inputrole_id" class="col-sm-3 control-label">用户组</label>
										<div class="col-sm-5">
											<!-- <select name="user_group" id="user_group" class="form-control select2">
												<option value="">请选择用户组</option>
												{volist name="groupRows" id="vo"}
												<option value="{$vo.id}">{$vo.title}</option>

												{/volist}
											</select> -->
											<div class="form-control">市场人员分组<input type="hidden" name="user_group" value="4"></div>
										</div>
									</div>

									<div class="form-group">
										<label for="inputname" class="col-sm-3 control-label">用户名<span style="color:#CE3815;">*</span></label>
										<div class="col-sm-5">
											<input type="text" class="form-control" name="user" id="inputuser" value="" placeholder="用户名">
										</div>
									</div>

									<div class="form-group">
										<label for="inputname" class="col-sm-3 control-label">昵称<span style="color:#CE3815;">*</span></label>
										<div class="col-sm-5">
											<input type="text" class="form-control" name="nick" id="inputnick" value="" placeholder="昵称">
										</div>
									</div>


									<div class="form-group">
										<label for="inputpassword" class="col-sm-3 control-label">用户密码<span style="color:#CE3815;">*</span></label>
										<div class="col-sm-5">
											<input type="password" class="form-control" name="password" id="inputpassword" placeholder="用户密码">
										</div>
									</div>

									<div class="form-group">
										<label for="inputrepassword" class="col-sm-3 control-label">确认密码<span style="color:#CE3815;">*</span></label>
										<div class="col-sm-5">
											<input type="password" class="form-control" name="repassword" id="inputrepassword" placeholder="确认密码">
										</div>
									</div>

									<div class="form-group">
										<label for="inputrepassword" class="col-sm-3 control-label">邮箱<span style="color:#CE3815;">*</span></label>
										<div class="col-sm-5">
											<input type="text" class="form-control" name="email" id="inputemail" placeholder="邮箱">
										</div>
									</div>

									<div class="form-group">
										<label for="inputrepassword" class="col-sm-3 control-label">手机号</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" name="mobile" id="inputemobile" placeholder="手机号">
										</div>
									</div>
									<div class="form-group">
										<label for="inputname" class="col-sm-3 control-label">发款银行账号</label>
										<div class="col-sm-5">
											<select id="paynumber" class="form-control select2" name="paynumber" id="paynumber">
											    <option value="">请选择</option>
												{volist name="bn" id="vo"}
												<option value="{$vo.id}">{$vo.bank_number}({$vo.owner})</option>
												{/volist} 
											</select>
										</div>
									</div>
									<!-- <div class="form-group">
										<label for="" class="col-sm-3 control-label">头像</label>
										<div class="col-sm-5">
											<img src="" style="max-width:100px; max-height:100px;" id="head" class="img-circle upload">
											<input type="hidden" name="head" value="" />
										</div>
									</div> -->
									<div class="form-group">
										<label for="inputrepassword" class="col-sm-3 control-label">銀行賬號</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" name="bankNumber" id="inputebankNumber" placeholder="銀行賬號">
										</div>
									</div>
									<div class="form-group">
										<label for="inputrepassword" class="col-sm-3 control-label">開戶人姓名</label>
										<div class="col-sm-5">
											<input type="text" class="form-control" name="bankUser" id="inputebankUser" placeholder="開戶人姓名">
										</div>
									</div>
									<div class="form-group">
										<label for="inputrepassword" class="col-sm-3 control-label">開戶銀行</label>
										<div class="col-sm-5">
											<select id="bank" class="form-control select2" name="bank">  
											    <option value="">请选择</option>
												{volist name="bank" id="vo"}
												<option value="{$vo.id},{$vo.bankname}">{$vo.bankname}</option>
												{/volist} 
											</select>
										</div>
									</div>
									<div class="form-group">
										<label for="" class="col-sm-3 control-label">头像<span style="color:#CE3815;">*</span></label>
										<div class="col-sm-5">
											<div class="fileupload fileupload-new" data-provides="fileupload">
												<div class="fileupload-new thumbnail small form-control"></div>
												<div class="fileupload-preview form-control fileupload-exists thumbnail small">
													<img src="">
												</div>
												<span class="btn btn-file btn-alt btn-sm">
                            					<span class="fileupload-new">Select image</span>
												<span class="fileupload-exists">Change</span>
												<input type="file" name="images" id="icon"/>
												</span>
												<a href="#" class="btn-sm btn fileupload-exists" data-dismiss="fileupload">Remove</a>
											</div>

										</div>
									</div>


									<div class="form-group">
										<label class="col-sm-3 control-label" for="inputstatus"> 是否启用 </label>
										<div class="col-sm-5" style="margin-top: 7px;">
											<label><input type="radio" name="status" id="status1" value="1" checked="checked"/>启用</label>
											<label><input type="radio" name="status" id="status0" value="0" />停用</label>
										</div>
									</div>

									<div class="form-group">
										<div class="col-sm-offset-3 col-sm-9">
											<div class="btn btn-primary submit">提交</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">  
    //页面加载完成后初始化select2控件  
    $(function () {
		// $(".submit").click(function(){
		// 	$.ajax({
  //               type: "POST",
  //               url : '{:url('Mechanism/add')}',
  //               data: $("#add").serialize(),
  //               async: true,
  //               success: function(data) {
  //               	if(data.code){
	 //                    alert(data.msg);
	 //                    location.href = data.url;
  //               	}else{
	 //                    alert(data.msg);
  //               	}
  //               },
  //               error: function(request) {
  //                   alert('頁面錯誤');
  //               }
  //           });
		// });
		$(".submit").click(function(){
            var options = {
                "beforeSubmit" : checkForm,
                "success" : resultForm,
                "resetForm" : false,
                "dataType" : "json"
            };
            $("#add").ajaxSubmit(options);
        });
 
        function checkForm(formData, form, options) {
        }
 
        function resultForm(data, status) {
            //表单完成
            if(data.code){
	            alert(data.msg);
	            window.history.go(-1);
            }else{
	            alert(data.msg);
            }
        }
		$("#commission").select2({
		    language: {
		        noResults: function (params) {
		            return "没有该分类";
		        }
		    }
		});
		$("#user_group").select2({
		    language: {
		        noResults: function (params) {
		            return "没有该分类";
		        }
		    }
		});
		$("#bank").select2({
		    language: {
		        noResults: function (params) {
		            return "没有该分类";
		        }
		    }
		});
		$("#paynumber").select2({
		    language: {
		        noResults: function (params) {
		            return "没有该分类";
		        }
		    }
		});
	});
</script>